.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"OSVOSJ+TimesNewRomanPS-BoldMT";
	src:url("bc3d8caa-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.75em;
	font-family: "OSVOSJ+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"LTGNPE+TimesNewRomanPSMT";
	src:url("0395abc6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.75em;
	font-family: "LTGNPE+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0018px;
}
@font-face {
	font-family:"PGIVSB+MinionPro-Regular";
	src:url("5161810e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "PGIVSB+MinionPro-Regular";
	color: #000000;
}
.stl_15 {
	line-height: 1.007em;
}
@font-face {
	font-family:"TDKIFM+TimesNewRomanPS-BoldMT";
	src:url("2a8aad29-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 1em;
	font-family: "TDKIFM+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_17 {
	font-size: 0.75em;
	font-family: "TDKIFM+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_18 {
	letter-spacing: -0.1102em;
}

.stl_ie .stl_18 {
	letter-spacing: -1.3218px;
}
@font-face {
	font-family:"BDOOHB+MyriadPro-Bold";
	src:url("4045b79a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.55835em;
	font-family: "BDOOHB+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_20 {
	line-height: 0.711em;
}
.stl_21 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_21 {
	letter-spacing: 0.0007px;
}
.stl_22 {
	letter-spacing: -0.0013em;
}

.stl_ie .stl_22 {
	letter-spacing: -0.0153px;
}
.stl_23 {
	font-size: 0.833333em;
	font-family: "LTGNPE+TimesNewRomanPSMT";
	color: #000000;
}
.stl_24 {
	letter-spacing: -0.0063em;
}

.stl_ie .stl_24 {
	letter-spacing: -0.084px;
}
.stl_25 {
	font-size: 0.608333em;
	font-family: "OSVOSJ+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_26 {
	font-size: 0.608333em;
	font-family: "LTGNPE+TimesNewRomanPSMT";
	color: #000000;
}
.stl_27 {
	font-size: 0.608333em;
	font-family: "TDKIFM+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_28 {
	letter-spacing: -0.037em;
}

.stl_ie .stl_28 {
	letter-spacing: -0.3602px;
}
.stl_29 {
	font-size: 0.5673em;
	font-family: "BDOOHB+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_30 {
	font-size: 0.419275em;
	font-family: "BDOOHB+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_31 {
	font-size: 0.443608em;
	font-family: "BDOOHB+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"BHITCM+TimesNewRomanPSMT";
	src:url("b3ef497d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_32 {
	font-size: 0.608333em;
	font-family: "BHITCM+TimesNewRomanPSMT";
	color: #000000;
}
.stl_33 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_33 {
	letter-spacing: -0.0013px;
}
.stl_34 {
	letter-spacing: -0.0912em;
}

.stl_ie .stl_34 {
	letter-spacing: -1.2154px;
}
.stl_35 {
	letter-spacing: -0.0146em;
}

.stl_ie .stl_35 {
	letter-spacing: -0.1947px;
}
.stl_36 {
	font-size: 0.666667em;
	font-family: "OSVOSJ+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_37 {
	font-size: 0.666667em;
	font-family: "LTGNPE+TimesNewRomanPSMT";
	color: #000000;
}
.stl_38 {
	font-size: 0.666667em;
	font-family: "TDKIFM+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_39 {
	letter-spacing: -0.1092em;
}

.stl_ie .stl_39 {
	letter-spacing: -1.31px;
}
.stl_40 {
	letter-spacing: 0.0002em;
}

.stl_ie .stl_40 {
	letter-spacing: 0.0019px;
}
@font-face {
	font-family:"JJJECL+Arial-BoldMT";
	src:url("3d8361bd-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_41 {
	font-size: 0.916667em;
	font-family: "JJJECL+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_42 {
	font-size: 0.5em;
	font-family: "PGIVSB+MinionPro-Regular";
	color: #000000;
}
