.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"JGBNOS+TimesNewRomanPS-BoldMT";
	src:url("f2ffed51-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.691667em;
	font-family: "JGBNOS+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"LDBFUU+TimesNewRomanPSMT";
	src:url("bbe7127e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.691667em;
	font-family: "LDBFUU+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0017px;
}
@font-face {
	font-family:"TKQOKE+TimesNewRomanPS-BoldMT";
	src:url("d825420f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 0.691667em;
	font-family: "TKQOKE+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_15 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_15 {
	letter-spacing: -0.0006px;
}
.stl_16 {
	letter-spacing: -0.1102em;
}

.stl_ie .stl_16 {
	letter-spacing: -1.219px;
}
@font-face {
	font-family:"MSKCUF+MinionPro-Regular";
	src:url("fb4e73ea-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 1em;
	font-family: "MSKCUF+MinionPro-Regular";
	color: #000000;
}
.stl_18 {
	line-height: 1.007em;
}
.stl_19 {
	font-size: 1em;
	font-family: "TKQOKE+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_20 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_20 {
	letter-spacing: 0.0007px;
}
.stl_21 {
	letter-spacing: -0.0013em;
}

.stl_ie .stl_21 {
	letter-spacing: -0.0141px;
}
.stl_22 {
	font-size: 0.833333em;
	font-family: "LDBFUU+TimesNewRomanPSMT";
	color: #000000;
}
.stl_23 {
	letter-spacing: -0.0011em;
}

.stl_ie .stl_23 {
	letter-spacing: -0.0143px;
}
.stl_24 {
	font-size: 0.666667em;
	font-family: "JGBNOS+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_25 {
	font-size: 0.666667em;
	font-family: "LDBFUU+TimesNewRomanPSMT";
	color: #000000;
}
.stl_26 {
	letter-spacing: -0.0025em;
}

.stl_ie .stl_26 {
	letter-spacing: -0.0397px;
}
.stl_27 {
	font-size: 0.666667em;
	font-family: "TKQOKE+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_28 {
	-o-transform: scale(1,1.070786);
	-webkit-transform: scale(1,1.070786);
	-moz-transform: scale(1,1.070786);
	transform: scale(1,1.070786);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.070786,0,-0);
	-ms-transform-origin: top left;
}
@font-face {
	font-family:"QQKNAN+MyriadPro-Bold";
	src:url("2369e846-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_29 {
	font-size: 0.607583em;
	font-family: "QQKNAN+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_30 {
	line-height: 0.711em;
}
.stl_31 {
	letter-spacing: -0.1282em;
}

.stl_ie .stl_31 {
	letter-spacing: -1.7089px;
}
.stl_32 {
	letter-spacing: 0.0002em;
}

.stl_ie .stl_32 {
	letter-spacing: 0.0021px;
}
.stl_33 {
	letter-spacing: -0.0017em;
}

.stl_ie .stl_33 {
	letter-spacing: -0.0184px;
}
.stl_34 {
	font-size: 0.75em;
	font-family: "JGBNOS+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_35 {
	font-size: 0.75em;
	font-family: "LDBFUU+TimesNewRomanPSMT";
	color: #000000;
}
.stl_36 {
	letter-spacing: -0.003em;
}

.stl_ie .stl_36 {
	letter-spacing: -0.048px;
}
.stl_37 {
	font-size: 0.75em;
	font-family: "TKQOKE+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_38 {
	letter-spacing: -0.1092em;
}

.stl_ie .stl_38 {
	letter-spacing: -1.4556px;
}
@font-face {
	font-family:"HCIQLE+Arial-BoldMT";
	src:url("800430c5-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_39 {
	font-size: 0.916667em;
	font-family: "HCIQLE+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_40 {
	font-size: 0.5em;
	font-family: "MSKCUF+MinionPro-Regular";
	color: #000000;
}
