.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"QTPVAW+TimesNewRomanPS-BoldMT";
	src:url("3568159f-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.666667em;
	font-family: "QTPVAW+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"WBDIBH+TimesNewRomanPSMT";
	src:url("8bc17978-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.666667em;
	font-family: "WBDIBH+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0016px;
}
.stl_14 {
	font-size: 1em;
	font-family: "QTPVAW+TimesNewRomanPS-BoldMT";
	color: #686868;
}
@font-face {
	font-family:"UUIBGR+MinionPro-Regular";
	src:url("4f3c8e7f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 1em;
	font-family: "UUIBGR+MinionPro-Regular";
	color: #000000;
}
.stl_16 {
	line-height: 1.007em;
}
@font-face {
	font-family:"VFDKDC+TimesNewRomanPS-BoldMT";
	src:url("f0d78728-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.666667em;
	font-family: "VFDKDC+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_18 {
	letter-spacing: -0.1102em;
}

.stl_ie .stl_18 {
	letter-spacing: -1.175px;
}
.stl_19 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_19 {
	letter-spacing: -0.0006px;
}
@font-face {
	font-family:"LCGACA+MyriadPro-Bold";
	src:url("346cd8a7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_20 {
	font-size: 0.506192em;
	font-family: "LCGACA+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_21 {
	line-height: 0.711em;
}
.stl_22 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_22 {
	letter-spacing: 0.0006px;
}
.stl_23 {
	font-size: 0.75em;
	font-family: "WBDIBH+TimesNewRomanPSMT";
	color: #000000;
}
.stl_24 {
	letter-spacing: 0.03em;
}

.stl_ie .stl_24 {
	letter-spacing: 0.3205px;
}
.stl_25 {
	letter-spacing: 0.0301em;
}

.stl_ie .stl_25 {
	letter-spacing: 0.3207px;
}
.stl_26 {
	letter-spacing: -0.0032em;
}

.stl_ie .stl_26 {
	letter-spacing: -0.0341px;
}
.stl_27 {
	letter-spacing: -0.0045em;
}

.stl_ie .stl_27 {
	letter-spacing: -0.0477px;
}
.stl_28 {
	font-size: 0.833333em;
	font-family: "QTPVAW+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_29 {
	font-size: 0.833333em;
	font-family: "WBDIBH+TimesNewRomanPSMT";
	color: #000000;
}
.stl_30 {
	font-size: 0.833333em;
	font-family: "VFDKDC+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_31 {
	letter-spacing: 0.05em;
}

.stl_ie .stl_31 {
	letter-spacing: 0.6673px;
}
.stl_32 {
	letter-spacing: 0.0501em;
}

.stl_ie .stl_32 {
	letter-spacing: 0.6675px;
}
.stl_33 {
	letter-spacing: 0.06em;
}

.stl_ie .stl_33 {
	letter-spacing: 0.7994px;
}
.stl_34 {
	letter-spacing: 0.0601em;
}

.stl_ie .stl_34 {
	letter-spacing: 0.8012px;
}
.stl_35 {
	letter-spacing: -0.0036em;
}

.stl_ie .stl_35 {
	letter-spacing: -0.0474px;
}
.stl_36 {
	letter-spacing: -0.0066em;
}

.stl_ie .stl_36 {
	letter-spacing: -0.0708px;
}
.stl_37 {
	font-size: 0.708333em;
	font-family: "QTPVAW+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_38 {
	font-size: 0.708333em;
	font-family: "WBDIBH+TimesNewRomanPSMT";
	color: #000000;
}
.stl_39 {
	font-size: 0.708333em;
	font-family: "VFDKDC+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_40 {
	-o-transform: scale(1,1.032979);
	-webkit-transform: scale(1,1.032979);
	-moz-transform: scale(1,1.032979);
	transform: scale(1,1.032979);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.032979,0,-0);
	-ms-transform-origin: top left;
}
.stl_41 {
	font-size: 0.645609em;
	font-family: "LCGACA+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_42 {
	letter-spacing: -0.01em;
}

.stl_ie .stl_42 {
	letter-spacing: -0.1131px;
}
.stl_43 {
	letter-spacing: -0.0099em;
}

.stl_ie .stl_43 {
	letter-spacing: -0.1125px;
}
.stl_44 {
	letter-spacing: 0.005em;
}

.stl_ie .stl_44 {
	letter-spacing: 0.0561px;
}
.stl_45 {
	letter-spacing: 0.01em;
}

.stl_ie .stl_45 {
	letter-spacing: 0.1136px;
}
.stl_46 {
	letter-spacing: -0.003em;
}

.stl_ie .stl_46 {
	letter-spacing: -0.034px;
}
.stl_47 {
	font-size: 0.833333em;
	font-family: "UUIBGR+MinionPro-Regular";
	color: #000000;
}
.stl_48 {
	letter-spacing: -0.0061em;
}

.stl_ie .stl_48 {
	letter-spacing: -0.0808px;
}
.stl_49 {
	letter-spacing: -0.0912em;
}

.stl_ie .stl_49 {
	letter-spacing: -1.2154px;
}
@font-face {
	font-family:"OBLURQ+Arial-BoldMT";
	src:url("84e9fd66-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_50 {
	font-size: 0.916667em;
	font-family: "OBLURQ+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_51 {
	letter-spacing: -0.0552em;
}

.stl_ie .stl_51 {
	letter-spacing: -0.8089px;
}
.stl_52 {
	font-size: 0.5em;
	font-family: "UUIBGR+MinionPro-Regular";
	color: #000000;
}
