.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"HBPFFK+ArialMT";
	src:url("081bcaf4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 1em;
	font-family: "HBPFFK+ArialMT";
	color: #000000;
}
@font-face {
	font-family:"DCBROK+Arial-ItalicMT";
	src:url("8b090c81-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 1em;
	font-family: "DCBROK+Arial-ItalicMT";
	color: #000000;
}
.stl_12 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_12 {
	letter-spacing: -0.0019px;
}
@font-face {
	font-family:"TETEFT+ArialMT";
	src:url("2a541baf-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 1em;
	font-family: "TETEFT+ArialMT";
	color: #000000;
}
.stl_14 {
	letter-spacing: -0.1108em;
}

.stl_ie .stl_14 {
	letter-spacing: -1.7734px;
}
.stl_15 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_15 {
	letter-spacing: -0.0024px;
}
@font-face {
	font-family:"TPGGAJ+Arial-BoldMT";
	src:url("3b4a39fc-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 1em;
	font-family: "TPGGAJ+Arial-BoldMT";
	color: #000000;
}
.stl_17 {
	font-size: 0.916667em;
	font-family: "TPGGAJ+Arial-BoldMT";
	color: #010101;
}
.stl_18 {
	letter-spacing: -0.0552em;
}

.stl_ie .stl_18 {
	letter-spacing: -0.8089px;
}
@font-face {
	font-family:"DQFSKC+MinionPro-Regular";
	src:url("3e7e698d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.5em;
	font-family: "DQFSKC+MinionPro-Regular";
	color: #000000;
}
.stl_20 {
	line-height: 1.007em;
}
