.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"NQVVMB+TimesNewRomanPS-BoldMT";
	src:url("c50e9a46-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.666667em;
	font-family: "NQVVMB+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"RKJRAH+TimesNewRomanPSMT";
	src:url("ec593d4a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.666667em;
	font-family: "RKJRAH+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0016px;
}
@font-face {
	font-family:"WMAGRE+MinionPro-Regular";
	src:url("82cf180a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "WMAGRE+MinionPro-Regular";
	color: #000000;
}
.stl_15 {
	line-height: 1.007em;
}
.stl_16 {
	font-size: 1em;
	font-family: "RKJRAH+TimesNewRomanPSMT";
	color: #000000;
}
@font-face {
	font-family:"ILEDWP+TimesNewRomanPS-BoldMT";
	src:url("44b8dc23-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 1em;
	font-family: "ILEDWP+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_18 {
	font-size: 0.666667em;
	font-family: "ILEDWP+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_19 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_19 {
	letter-spacing: 0.0006px;
}
.stl_20 {
	-o-transform: scale(1,0.9938383);
	-webkit-transform: scale(1,0.9938383);
	-moz-transform: scale(1,0.9938383);
	transform: scale(1,0.9938383);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.9938383,0,-0);
	-ms-transform-origin: top left;
}
@font-face {
	font-family:"BSEVUJ+MyriadPro-Bold";
	src:url("4f45d97f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 0.524465em;
	font-family: "BSEVUJ+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_22 {
	line-height: 0.711em;
}
.stl_23 {
	-o-transform: scale(1,0.9938481);
	-webkit-transform: scale(1,0.9938481);
	-moz-transform: scale(1,0.9938481);
	transform: scale(1,0.9938481);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.9938481,0,-0);
	-ms-transform-origin: top left;
}
.stl_24 {
	font-size: 0.612057em;
	font-family: "BSEVUJ+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_25 {
	letter-spacing: -0.0061em;
}

.stl_ie .stl_25 {
	letter-spacing: -0.0654px;
}
.stl_26 {
	letter-spacing: -0.0079em;
}

.stl_ie .stl_26 {
	letter-spacing: -0.0839px;
}
@font-face {
	font-family:"NWCMVR+TimesNewRomanPSMT";
	src:url("92efb251-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 0.666667em;
	font-family: "NWCMVR+TimesNewRomanPSMT";
	color: #000000;
}
.stl_28 {
	letter-spacing: -0.0041em;
}

.stl_ie .stl_28 {
	letter-spacing: -0.0435px;
}
.stl_29 {
	font-size: 0.75em;
	font-family: "RKJRAH+TimesNewRomanPSMT";
	color: #000000;
}
.stl_30 {
	letter-spacing: -0.1102em;
}

.stl_ie .stl_30 {
	letter-spacing: -1.322px;
}
.stl_31 {
	font-size: 0.833333em;
	font-family: "NQVVMB+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_32 {
	font-size: 0.833333em;
	font-family: "ILEDWP+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_33 {
	font-size: 0.833333em;
	font-family: "RKJRAH+TimesNewRomanPSMT";
	color: #000000;
}
.stl_34 {
	-o-transform: scale(1,1.007776);
	-webkit-transform: scale(1,1.007776);
	-moz-transform: scale(1,1.007776);
	transform: scale(1,1.007776);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.007776,0,-0);
	-ms-transform-origin: top left;
}
.stl_35 {
	font-size: 0.522975em;
	font-family: "BSEVUJ+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_36 {
	font-size: 0.75em;
	font-family: "NWCMVR+TimesNewRomanPSMT";
	color: #000000;
}
.stl_37 {
	letter-spacing: -0.0006em;
}

.stl_ie .stl_37 {
	letter-spacing: -0.0076px;
}
.stl_38 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_38 {
	letter-spacing: -0.0009px;
}
.stl_39 {
	letter-spacing: -0.1282em;
}

.stl_ie .stl_39 {
	letter-spacing: -1.538px;
}
.stl_40 {
	letter-spacing: -0.0912em;
}

.stl_ie .stl_40 {
	letter-spacing: -1.0938px;
}
.stl_41 {
	letter-spacing: 0.1408em;
}

.stl_ie .stl_41 {
	letter-spacing: 1.69px;
}
.stl_42 {
	letter-spacing: -0.006em;
}

.stl_ie .stl_42 {
	letter-spacing: -0.0716px;
}
@font-face {
	font-family:"QDDWVG+Arial-BoldMT";
	src:url("7bfb19aa-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_43 {
	font-size: 0.916667em;
	font-family: "QDDWVG+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_44 {
	font-size: 0.5em;
	font-family: "WMAGRE+MinionPro-Regular";
	color: #000000;
}
