.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"FGNIKI+TimesNewRomanPS-BoldMT";
	src:url("0b7dbc04-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.833333em;
	font-family: "FGNIKI+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"AGAFMR+TimesNewRomanPSMT";
	src:url("99d727d2-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.833333em;
	font-family: "AGAFMR+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.002px;
}
@font-face {
	font-family:"HNJBON+TimesNewRomanPS-BoldMT";
	src:url("fe682e21-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "HNJBON+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_15 {
	letter-spacing: -0.091em;
}

.stl_ie .stl_15 {
	letter-spacing: -1.4559px;
}
@font-face {
	font-family:"AMDAJW+MinionPro-Regular";
	src:url("5b946c51-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 1em;
	font-family: "AMDAJW+MinionPro-Regular";
	color: #000000;
}
.stl_17 {
	line-height: 1.007em;
}
.stl_18 {
	letter-spacing: -0.0015em;
}

.stl_ie .stl_18 {
	letter-spacing: -0.024px;
}
.stl_19 {
	font-size: 0.833333em;
	font-family: "HNJBON+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_20 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_20 {
	letter-spacing: 0.0011px;
}
.stl_21 {
	letter-spacing: -0.0024em;
}

.stl_ie .stl_21 {
	letter-spacing: -0.0321px;
}
.stl_22 {
	font-size: 1em;
	font-family: "FGNIKI+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_23 {
	letter-spacing: 0.0002em;
}

.stl_ie .stl_23 {
	letter-spacing: 0.0024px;
}
.stl_24 {
	letter-spacing: -0.0003em;
}

.stl_ie .stl_24 {
	letter-spacing: -0.0053px;
}
.stl_25 {
	letter-spacing: -0.0912em;
}

.stl_ie .stl_25 {
	letter-spacing: -1.4587px;
}
.stl_26 {
	letter-spacing: -0.0034em;
}

.stl_ie .stl_26 {
	letter-spacing: -0.0544px;
}
.stl_27 {
	font-size: 0.75em;
	font-family: "AGAFMR+TimesNewRomanPSMT";
	color: #000000;
}
.stl_28 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_28 {
	letter-spacing: -0.0009px;
}
@font-face {
	font-family:"MIUTLS+TimesNewRomanPS-ItalicMT";
	src:url("4a0e4887-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_29 {
	font-size: 0.5247em;
	font-family: "MIUTLS+TimesNewRomanPS-ItalicMT", "Times New Roman";
	color: #000000;
}
.stl_30 {
	letter-spacing: -0.0038em;
}

.stl_ie .stl_30 {
	letter-spacing: -0.0452px;
}
.stl_31 {
	font-size: 0.75em;
	font-family: "FGNIKI+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_32 {
	font-size: 0.75em;
	font-family: "HNJBON+TimesNewRomanPS-BoldMT";
	color: #000000;
}
@font-face {
	font-family:"QBOJNM+TimesNewRomanPSMT";
	src:url("57fa0fcd-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_33 {
	font-size: 0.75em;
	font-family: "QBOJNM+TimesNewRomanPSMT";
	color: #000000;
}
.stl_34 {
	letter-spacing: -0.1112em;
}

.stl_ie .stl_34 {
	letter-spacing: -1.3338px;
}
.stl_35 {
	letter-spacing: -0.015em;
}

.stl_ie .stl_35 {
	letter-spacing: -0.1795px;
}
@font-face {
	font-family:"SPHPAR+Arial-BoldMT";
	src:url("bb58d00b-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_36 {
	font-size: 0.916667em;
	font-family: "SPHPAR+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_37 {
	font-size: 0.5em;
	font-family: "AMDAJW+MinionPro-Regular";
	color: #000000;
}
