.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"DRGWNI+TimesNewRomanPS-BoldMT";
	src:url("27154185-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.833333em;
	font-family: "DRGWNI+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"HDRUQA+TimesNewRomanPSMT";
	src:url("415be6f1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.833333em;
	font-family: "HDRUQA+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0007px;
}
@font-face {
	font-family:"KPACLW+TimesNewRomanPS-BoldMT";
	src:url("a976c58c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "KPACLW+TimesNewRomanPS-BoldMT";
	color: #686868;
}
@font-face {
	font-family:"MIDCIW+MinionPro-Regular";
	src:url("3470ce64-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 1em;
	font-family: "MIDCIW+MinionPro-Regular";
	color: #000000;
}
.stl_16 {
	line-height: 1.007em;
}
.stl_17 {
	font-size: 0.833333em;
	font-family: "KPACLW+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_18 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_18 {
	letter-spacing: 0.0008px;
}
@font-face {
	font-family:"ROAAWV+MyriadPro-Bold";
	src:url("57d6e6fa-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.543208em;
	font-family: "ROAAWV+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_20 {
	line-height: 0.711em;
}
.stl_21 {
	letter-spacing: -0.0013em;
}

.stl_ie .stl_21 {
	letter-spacing: -0.017px;
}
.stl_22 {
	letter-spacing: -0.1102em;
}

.stl_ie .stl_22 {
	letter-spacing: -1.4689px;
}
.stl_23 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_23 {
	letter-spacing: -0.0022px;
}
.stl_24 {
	letter-spacing: -0.0036em;
}

.stl_ie .stl_24 {
	letter-spacing: -0.0576px;
}
.stl_25 {
	font-size: 0.75em;
	font-family: "HDRUQA+TimesNewRomanPSMT";
	color: #000000;
}
@font-face {
	font-family:"VEQHEU+TimesNewRomanPS-ItalicMT";
	src:url("86f9ead3-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_26 {
	font-size: 0.5247em;
	font-family: "VEQHEU+TimesNewRomanPS-ItalicMT";
	color: #000000;
}
.stl_27 {
	letter-spacing: -0.0045em;
}

.stl_ie .stl_27 {
	letter-spacing: -0.0313px;
}
.stl_28 {
	letter-spacing: -0.0029em;
}

.stl_ie .stl_28 {
	letter-spacing: -0.0348px;
}
.stl_29 {
	font-size: 0.75em;
	font-family: "DRGWNI+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_30 {
	font-size: 0.75em;
	font-family: "KPACLW+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_31 {
	letter-spacing: -0.0015em;
}

.stl_ie .stl_31 {
	letter-spacing: -0.0178px;
}
.stl_32 {
	letter-spacing: -0.0042em;
}

.stl_ie .stl_32 {
	letter-spacing: -0.0507px;
}
@font-face {
	font-family:"MMGAUC+Arial-BoldMT";
	src:url("dc947dd9-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_33 {
	font-size: 0.916667em;
	font-family: "MMGAUC+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_34 {
	font-size: 0.5em;
	font-family: "MIDCIW+MinionPro-Regular";
	color: #000000;
}
