.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"WVBGIM+TimesNewRomanPS-BoldMT";
	src:url("1a318956-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.75em;
	font-family: "WVBGIM+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"CAKNSJ+TimesNewRomanPSMT";
	src:url("7b299c7a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.75em;
	font-family: "CAKNSJ+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0018px;
}
.stl_14 {
	font-size: 1em;
	font-family: "WVBGIM+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_15 {
	letter-spacing: -0.0017em;
}

.stl_ie .stl_15 {
	letter-spacing: -0.0267px;
}
@font-face {
	font-family:"NIJOMS+MinionPro-Regular";
	src:url("569e1181-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 1em;
	font-family: "NIJOMS+MinionPro-Regular";
	color: #000000;
}
.stl_17 {
	line-height: 1.007em;
}
@font-face {
	font-family:"KUJAFE+TimesNewRomanPS-BoldMT";
	src:url("8c75013e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 0.75em;
	font-family: "KUJAFE+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_19 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_19 {
	letter-spacing: -0.0011px;
}
.stl_20 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_20 {
	letter-spacing: 0.0007px;
}
@font-face {
	font-family:"JTWQWR+TimesNewRomanPSMT";
	src:url("60ccebe1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 0.75em;
	font-family: "JTWQWR+TimesNewRomanPSMT";
	color: #000000;
}
.stl_22 {
	font-size: 0.833333em;
	font-family: "CAKNSJ+TimesNewRomanPSMT";
	color: #000000;
}
.stl_23 {
	letter-spacing: -0.0114em;
}

.stl_ie .stl_23 {
	letter-spacing: -0.1525px;
}
@font-face {
	font-family:"SLHMDC+TimesNewRomanPS-ItalicMT";
	src:url("32a576cc-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_24 {
	font-size: 0.583em;
	font-family: "SLHMDC+TimesNewRomanPS-ItalicMT", "Times New Roman";
	color: #000000;
}
.stl_25 {
	letter-spacing: -0.0045em;
}

.stl_ie .stl_25 {
	letter-spacing: -0.0348px;
}
.stl_26 {
	letter-spacing: -0.0089em;
}

.stl_ie .stl_26 {
	letter-spacing: -0.118px;
}
.stl_27 {
	font-size: 0.833333em;
	font-family: "WVBGIM+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_28 {
	font-size: 1em;
	font-family: "KUJAFE+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_29 {
	font-size: 0.833333em;
	font-family: "KUJAFE+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_30 {
	letter-spacing: -0.1102em;
}

.stl_ie .stl_30 {
	letter-spacing: -1.4689px;
}
.stl_31 {
	letter-spacing: 0.1398em;
}

.stl_ie .stl_31 {
	letter-spacing: 1.8645px;
}
.stl_32 {
	letter-spacing: -0.0118em;
}

.stl_ie .stl_32 {
	letter-spacing: -0.1422px;
}
.stl_33 {
	letter-spacing: -0.0025em;
}

.stl_ie .stl_33 {
	letter-spacing: -0.0303px;
}
@font-face {
	font-family:"VTQQIS+Arial-BoldMT";
	src:url("9ee34559-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_34 {
	font-size: 0.916667em;
	font-family: "VTQQIS+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_35 {
	font-size: 0.5em;
	font-family: "NIJOMS+MinionPro-Regular";
	color: #000000;
}
