.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"SKTFHV+TimesNewRomanPS-BoldMT";
	src:url("79ae3986-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.708333em;
	font-family: "SKTFHV+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"QTRPQJ+TimesNewRomanPSMT";
	src:url("bc84251c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.708333em;
	font-family: "QTRPQJ+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0017px;
}
@font-face {
	font-family:"RTPWMU+TimesNewRomanPS-BoldMT";
	src:url("9ad1cb8d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 0.708333em;
	font-family: "RTPWMU+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_15 {
	letter-spacing: 0.05em;
}

.stl_ie .stl_15 {
	letter-spacing: 0.5667px;
}
.stl_16 {
	font-size: 1em;
	font-family: "RTPWMU+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_17 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_17 {
	letter-spacing: -0.0009px;
}
@font-face {
	font-family:"VQLPOW+MinionPro-Regular";
	src:url("a7c8f102-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 1em;
	font-family: "VQLPOW+MinionPro-Regular";
	color: #000000;
}
.stl_19 {
	line-height: 1.007em;
}
.stl_20 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_20 {
	letter-spacing: 0.0007px;
}
@font-face {
	font-family:"HWCVJQ+MyriadPro-Bold";
	src:url("51beb78d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 0.280642em;
	font-family: "HWCVJQ+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_22 {
	line-height: 0.711em;
}
.stl_23 {
	letter-spacing: 0.04em;
}

.stl_ie .stl_23 {
	letter-spacing: 0.4539px;
}
.stl_24 {
	letter-spacing: 0.0201em;
}

.stl_ie .stl_24 {
	letter-spacing: 0.2276px;
}
.stl_25 {
	letter-spacing: 0.0101em;
}

.stl_ie .stl_25 {
	letter-spacing: 0.1142px;
}
.stl_26 {
	font-size: 0.791667em;
	font-family: "QTRPQJ+TimesNewRomanPSMT";
	color: #000000;
}
.stl_27 {
	letter-spacing: 0.0398em;
}

.stl_ie .stl_27 {
	letter-spacing: 0.5046px;
}
.stl_28 {
	letter-spacing: 0.0401em;
}

.stl_ie .stl_28 {
	letter-spacing: 0.4545px;
}
.stl_29 {
	font-size: 0.187208em;
	font-family: "HWCVJQ+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_30 {
	letter-spacing: 0.0087em;
}

.stl_ie .stl_30 {
	letter-spacing: 0.0989px;
}
.stl_31 {
	font-size: 0.833333em;
	font-family: "QTRPQJ+TimesNewRomanPSMT";
	color: #000000;
}
.stl_32 {
	font-size: 0.75em;
	font-family: "QTRPQJ+TimesNewRomanPSMT";
	color: #000000;
}
@font-face {
	font-family:"TOTKQK+TimesNewRomanPS-ItalicMT";
	src:url("4f995bfd-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_33 {
	font-size: 0.5247em;
	font-family: "TOTKQK+TimesNewRomanPS-ItalicMT", "Times New Roman";
	color: #000000;
}
.stl_34 {
	letter-spacing: -0.0061em;
}

.stl_ie .stl_34 {
	letter-spacing: -0.0428px;
}
.stl_35 {
	letter-spacing: 0.1408em;
}

.stl_ie .stl_35 {
	letter-spacing: 1.69px;
}
.stl_36 {
	letter-spacing: -0.0912em;
}

.stl_ie .stl_36 {
	letter-spacing: -1.0938px;
}
.stl_37 {
	letter-spacing: -0.0022em;
}

.stl_ie .stl_37 {
	letter-spacing: -0.0264px;
}
.stl_38 {
	font-size: 0.833333em;
	font-family: "SKTFHV+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_39 {
	font-size: 0.833333em;
	font-family: "RTPWMU+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_40 {
	letter-spacing: -0.01em;
}

.stl_ie .stl_40 {
	letter-spacing: -0.1327px;
}
.stl_41 {
	letter-spacing: -0.0099em;
}

.stl_ie .stl_41 {
	letter-spacing: -0.1319px;
}
@font-face {
	font-family:"CELCUR+TimesNewRomanPSMT";
	src:url("dc79ea58-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_42 {
	font-size: 0.833333em;
	font-family: "CELCUR+TimesNewRomanPSMT";
	color: #000000;
}
.stl_43 {
	letter-spacing: -0.04em;
}

.stl_ie .stl_43 {
	letter-spacing: -0.533px;
}
.stl_44 {
	letter-spacing: -0.0399em;
}

.stl_ie .stl_44 {
	letter-spacing: -0.5324px;
}
.stl_45 {
	letter-spacing: -0.0083em;
}

.stl_ie .stl_45 {
	letter-spacing: -0.1101px;
}
.stl_46 {
	letter-spacing: -0.1102em;
}

.stl_ie .stl_46 {
	letter-spacing: -1.4689px;
}
.stl_47 {
	letter-spacing: -0.0178em;
}

.stl_ie .stl_47 {
	letter-spacing: -0.2379px;
}
@font-face {
	font-family:"AUGJMQ+Arial-BoldMT";
	src:url("d68d7b46-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_48 {
	font-size: 0.916667em;
	font-family: "AUGJMQ+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_49 {
	font-size: 0.5em;
	font-family: "VQLPOW+MinionPro-Regular";
	color: #000000;
}
