.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"MAOUPU+Arial-BoldMT";
	src:url("eac143c2-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 1.25em;
	font-family: "MAOUPU+Arial-BoldMT";
	color: #686868;
}
.stl_11 {
	line-height: 1.117187em;
}
@font-face {
	font-family:"FEQBOL+ArialMT";
	src:url("eee18eac-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 1em;
	font-family: "FEQBOL+ArialMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0014px;
}
.stl_14 {
	letter-spacing: -0.0011em;
}

.stl_ie .stl_14 {
	letter-spacing: -0.0172px;
}
.stl_15 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_15 {
	letter-spacing: -0.0031px;
}
.stl_16 {
	letter-spacing: -0.0021em;
}

.stl_ie .stl_16 {
	letter-spacing: -0.0428px;
}
.stl_17 {
	letter-spacing: -0.0032em;
}

.stl_ie .stl_17 {
	letter-spacing: -0.0508px;
}
.stl_18 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_18 {
	letter-spacing: 0.001px;
}
.stl_19 {
	letter-spacing: -0.0044em;
}

.stl_ie .stl_19 {
	letter-spacing: -0.0703px;
}
.stl_20 {
	letter-spacing: -0.0024em;
}

.stl_ie .stl_20 {
	letter-spacing: -0.0377px;
}
.stl_21 {
	letter-spacing: -0.0034em;
}

.stl_ie .stl_21 {
	letter-spacing: -0.0542px;
}
.stl_22 {
	letter-spacing: -0.0035em;
}

.stl_ie .stl_22 {
	letter-spacing: -0.0552px;
}
.stl_23 {
	font-size: 0.916667em;
	font-family: "MAOUPU+Arial-BoldMT";
	color: #000000;
}
@font-face {
	font-family:"CRGNEG+MinionPro-Regular";
	src:url("9d15e3d3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_24 {
	font-size: 0.5em;
	font-family: "CRGNEG+MinionPro-Regular";
	color: #000000;
}
.stl_25 {
	line-height: 1.007em;
}
