.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"OWUIHH+TimesNewRomanPS-BoldMT";
	src:url("950239e2-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.666667em;
	font-family: "OWUIHH+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"KJBIKQ+TimesNewRomanPSMT";
	src:url("5fde14ee-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.666667em;
	font-family: "KJBIKQ+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0008px;
}
@font-face {
	font-family:"QTPVSS+MinionPro-Regular";
	src:url("67e07064-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "QTPVSS+MinionPro-Regular";
	color: #000000;
}
.stl_15 {
	line-height: 1.007em;
}
.stl_16 {
	font-size: 1em;
	font-family: "KJBIKQ+TimesNewRomanPSMT";
	color: #000000;
}
@font-face {
	font-family:"VFOHWF+TimesNewRomanPS-BoldMT";
	src:url("2561a9c6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 1em;
	font-family: "VFOHWF+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_18 {
	font-size: 0.666667em;
	font-family: "VFOHWF+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_19 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_19 {
	letter-spacing: 0.0006px;
}
.stl_20 {
	-o-transform: scale(1,0.9675297);
	-webkit-transform: scale(1,0.9675297);
	-moz-transform: scale(1,0.9675297);
	transform: scale(1,0.9675297);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.9675297,0,-0);
	-ms-transform-origin: top left;
}
@font-face {
	font-family:"KIPEQL+MyriadPro-Bold";
	src:url("fd728e48-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 0.573936em;
	font-family: "KIPEQL+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_22 {
	line-height: 0.711em;
}
.stl_23 {
	letter-spacing: -0.0068em;
}

.stl_ie .stl_23 {
	letter-spacing: -0.0727px;
}
.stl_24 {
	font-size: 0.666667em;
	font-family: "KJBIKQ+TimesNewRomanPSMT";
	color: #010101;
}
.stl_25 {
	letter-spacing: -0.0021em;
}

.stl_ie .stl_25 {
	letter-spacing: -0.0223px;
}
.stl_26 {
	font-size: 0.75em;
	font-family: "OWUIHH+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_27 {
	font-size: 0.75em;
	font-family: "KJBIKQ+TimesNewRomanPSMT";
	color: #000000;
}
.stl_28 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_28 {
	letter-spacing: -0.0018px;
}
.stl_29 {
	letter-spacing: -0.0092em;
}

.stl_ie .stl_29 {
	letter-spacing: -0.1476px;
}
.stl_30 {
	font-size: 0.75em;
	font-family: "VFOHWF+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_31 {
	letter-spacing: -0.1102em;
}

.stl_ie .stl_31 {
	letter-spacing: -1.322px;
}
.stl_32 {
	letter-spacing: 0.1408em;
}

.stl_ie .stl_32 {
	letter-spacing: 1.69px;
}
.stl_33 {
	letter-spacing: -0.0273em;
}

.stl_ie .stl_33 {
	letter-spacing: -0.327px;
}
.stl_34 {
	font-size: 0.833333em;
	font-family: "OWUIHH+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_35 {
	font-size: 0.833333em;
	font-family: "KJBIKQ+TimesNewRomanPSMT";
	color: #000000;
}
.stl_36 {
	font-size: 0.833333em;
	font-family: "VFOHWF+TimesNewRomanPS-BoldMT";
	color: #000000;
}
@font-face {
	font-family:"SFOHKP+Arial-BoldMT";
	src:url("f492b130-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_37 {
	font-size: 0.916667em;
	font-family: "SFOHKP+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_38 {
	font-size: 0.5em;
	font-family: "QTPVSS+MinionPro-Regular";
	color: #000000;
}
