.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"DGFDQR+TimesNewRomanPS-BoldMT";
	src:url("da46a13c-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.833333em;
	font-family: "DGFDQR+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"AWDUUJ+TimesNewRomanPSMT";
	src:url("5d33f33e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.833333em;
	font-family: "AWDUUJ+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.002px;
}
@font-face {
	font-family:"BRSOUR+TimesNewRomanPS-BoldMT";
	src:url("eed7c975-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "BRSOUR+TimesNewRomanPS-BoldMT";
	color: #686868;
}
@font-face {
	font-family:"UHLLSV+MinionPro-Regular";
	src:url("ae822091-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 1em;
	font-family: "UHLLSV+MinionPro-Regular";
	color: #000000;
}
.stl_16 {
	line-height: 1.007em;
}
.stl_17 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_17 {
	letter-spacing: -0.0013px;
}
.stl_18 {
	font-size: 1em;
	font-family: "AWDUUJ+TimesNewRomanPSMT";
	color: #000000;
}
@font-face {
	font-family:"ANJGQF+MinionPro-Medium";
	src:url("37a48237-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 1em;
	font-family: "ANJGQF+MinionPro-Medium", "Times New Roman";
	color: #000000;
}
.stl_20 {
	line-height: 0.88em;
}
.stl_21 {
	font-size: 0.833333em;
	font-family: "BRSOUR+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_22 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_22 {
	letter-spacing: 0.0008px;
}
.stl_23 {
	letter-spacing: -0.0044em;
}

.stl_ie .stl_23 {
	letter-spacing: -0.0584px;
}
@font-face {
	font-family:"QQVAGW+TimesNewRomanPSMT";
	src:url("a064785d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_24 {
	font-size: 0.833333em;
	font-family: "QQVAGW+TimesNewRomanPSMT";
	color: #000000;
}
.stl_25 {
	font-size: 0.75em;
	font-family: "AWDUUJ+TimesNewRomanPSMT";
	color: #000000;
}
.stl_26 {
	letter-spacing: -0.0912em;
}

.stl_ie .stl_26 {
	letter-spacing: -1.0938px;
}
.stl_27 {
	letter-spacing: -0.0029em;
}

.stl_ie .stl_27 {
	letter-spacing: -0.0343px;
}
@font-face {
	font-family:"NHCAJH+TimesNewRomanPS-ItalicMT";
	src:url("10301433-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_28 {
	font-size: 0.5247em;
	font-family: "NHCAJH+TimesNewRomanPS-ItalicMT", "Times New Roman";
	color: #000000;
}
.stl_29 {
	font-size: 0.75em;
	font-family: "DGFDQR+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_30 {
	font-size: 0.75em;
	font-family: "BRSOUR+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_31 {
	letter-spacing: -0.0013em;
}

.stl_ie .stl_31 {
	letter-spacing: -0.017px;
}
.stl_32 {
	letter-spacing: -0.0061em;
}

.stl_ie .stl_32 {
	letter-spacing: -0.0808px;
}
.stl_33 {
	letter-spacing: -0.1282em;
}

.stl_ie .stl_33 {
	letter-spacing: -1.7089px;
}
.stl_34 {
	letter-spacing: -0.1102em;
}

.stl_ie .stl_34 {
	letter-spacing: -1.3218px;
}
.stl_35 {
	font-size: 0.75em;
	font-family: "QQVAGW+TimesNewRomanPSMT";
	color: #000000;
}
.stl_36 {
	letter-spacing: -0.0025em;
}

.stl_ie .stl_36 {
	letter-spacing: -0.0297px;
}
@font-face {
	font-family:"ITWHVS+Arial-BoldMT";
	src:url("b33b1b08-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_37 {
	font-size: 0.916667em;
	font-family: "ITWHVS+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_38 {
	font-size: 0.5em;
	font-family: "UHLLSV+MinionPro-Regular";
	color: #000000;
}
