.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"ESTIWR+TimesNewRomanPS-BoldMT";
	src:url("92323660-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.75em;
	font-family: "ESTIWR+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"ACGHMG+TimesNewRomanPSMT";
	src:url("db12da3f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.75em;
	font-family: "ACGHMG+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0018px;
}
@font-face {
	font-family:"FQJWRI+MinionPro-Regular";
	src:url("aa676eea-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "FQJWRI+MinionPro-Regular";
	color: #000000;
}
.stl_15 {
	line-height: 1.007em;
}
.stl_16 {
	font-size: 1em;
	font-family: "ACGHMG+TimesNewRomanPSMT";
	color: #000000;
}
@font-face {
	font-family:"PJVCSW+TimesNewRomanPS-BoldMT";
	src:url("24188ab3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 1em;
	font-family: "PJVCSW+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_18 {
	font-size: 0.75em;
	font-family: "PJVCSW+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_19 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_19 {
	letter-spacing: -0.0015px;
}
.stl_20 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_20 {
	letter-spacing: 0.0007px;
}
.stl_21 {
	letter-spacing: 0.1408em;
}

.stl_ie .stl_21 {
	letter-spacing: 1.69px;
}
@font-face {
	font-family:"NLDFHS+TimesNewRomanPS-ItalicMT";
	src:url("91fc3cde-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_22 {
	font-size: 0.5247em;
	font-family: "NLDFHS+TimesNewRomanPS-ItalicMT", "Times New Roman";
	color: #000000;
}
.stl_23 {
	font-size: 0.641667em;
	font-family: "ESTIWR+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_24 {
	font-size: 0.641667em;
	font-family: "ACGHMG+TimesNewRomanPSMT";
	color: #000000;
}
.stl_25 {
	font-size: 0.641667em;
	font-family: "PJVCSW+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_26 {
	letter-spacing: -0.1102em;
}

.stl_ie .stl_26 {
	letter-spacing: -1.1309px;
}
@font-face {
	font-family:"MDEALW+MyriadPro-Bold";
	src:url("c5d4c038-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 0.608383em;
	font-family: "MDEALW+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_28 {
	line-height: 0.711em;
}
.stl_29 {
	letter-spacing: -0.0042em;
}

.stl_ie .stl_29 {
	letter-spacing: -0.0428px;
}
.stl_30 {
	letter-spacing: -0.0058em;
}

.stl_ie .stl_30 {
	letter-spacing: -0.0695px;
}
.stl_31 {
	letter-spacing: -0.0032em;
}

.stl_ie .stl_31 {
	letter-spacing: -0.0386px;
}
@font-face {
	font-family:"FLGMWP+TimesNewRomanPSMT";
	src:url("e925a2e7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_32 {
	font-size: 0.641667em;
	font-family: "FLGMWP+TimesNewRomanPSMT";
	color: #000000;
}
.stl_33 {
	font-size: 0.833333em;
	font-family: "ESTIWR+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_34 {
	font-size: 0.833333em;
	font-family: "ACGHMG+TimesNewRomanPSMT";
	color: #000000;
}
.stl_35 {
	font-size: 0.833333em;
	font-family: "PJVCSW+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_36 {
	letter-spacing: -0.0021em;
}

.stl_ie .stl_36 {
	letter-spacing: -0.0287px;
}
.stl_37 {
	letter-spacing: -0.004em;
}

.stl_ie .stl_37 {
	letter-spacing: -0.0535px;
}
@font-face {
	font-family:"HVRHWT+Arial-BoldMT";
	src:url("171c5b60-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_38 {
	font-size: 0.916667em;
	font-family: "HVRHWT+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_39 {
	font-size: 0.5em;
	font-family: "FQJWRI+MinionPro-Regular";
	color: #000000;
}
