.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"JMFBTJ+TimesNewRomanPS-BoldMT";
	src:url("1fddf249-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.833333em;
	font-family: "JMFBTJ+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"ARWPGD+TimesNewRomanPSMT";
	src:url("2a53ff89-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.833333em;
	font-family: "ARWPGD+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.002px;
}
@font-face {
	font-family:"VPCGBU+MinionPro-Regular";
	src:url("d2f6804c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "VPCGBU+MinionPro-Regular";
	color: #000000;
}
.stl_15 {
	line-height: 1.007em;
}
@font-face {
	font-family:"IAFPDB+TimesNewRomanPS-BoldMT";
	src:url("a392f9fe-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 1em;
	font-family: "IAFPDB+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_17 {
	letter-spacing: -0.0023em;
}

.stl_ie .stl_17 {
	letter-spacing: -0.0361px;
}
.stl_18 {
	font-size: 0.6996em;
	font-family: "JMFBTJ+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_19 {
	letter-spacing: -0.0026em;
}

.stl_ie .stl_19 {
	letter-spacing: -0.0416px;
}
.stl_20 {
	letter-spacing: -0.0045em;
}

.stl_ie .stl_20 {
	letter-spacing: -0.0416px;
}
.stl_21 {
	font-size: 0.833333em;
	font-family: "IAFPDB+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_22 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_22 {
	letter-spacing: -0.0011px;
}
.stl_23 {
	letter-spacing: -0.1102em;
}

.stl_ie .stl_23 {
	letter-spacing: -1.4688px;
}
.stl_24 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_24 {
	letter-spacing: 0.0008px;
}
.stl_25 {
	letter-spacing: -0.0099em;
}

.stl_ie .stl_25 {
	letter-spacing: -0.1319px;
}
.stl_26 {
	letter-spacing: -0.0018em;
}

.stl_ie .stl_26 {
	letter-spacing: -0.0246px;
}
.stl_27 {
	font-size: 0.75em;
	font-family: "ARWPGD+TimesNewRomanPSMT";
	color: #000000;
}
.stl_28 {
	letter-spacing: -0.0022em;
}

.stl_ie .stl_28 {
	letter-spacing: -0.029px;
}
.stl_29 {
	font-size: 0.716667em;
	font-family: "JMFBTJ+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_30 {
	font-size: 0.716667em;
	font-family: "ARWPGD+TimesNewRomanPSMT";
	color: #000000;
}
.stl_31 {
	font-size: 0.716667em;
	font-family: "IAFPDB+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_32 {
	-o-transform: scale(1,1.036015);
	-webkit-transform: scale(1,1.036015);
	-moz-transform: scale(1,1.036015);
	transform: scale(1,1.036015);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.036015,0,-0);
	-ms-transform-origin: top left;
}
@font-face {
	font-family:"OBLLDJ+MyriadPro-Bold";
	src:url("27f92dbd-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_33 {
	font-size: 0.489375em;
	font-family: "OBLLDJ+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_34 {
	line-height: 0.711em;
}
.stl_35 {
	letter-spacing: -0.0006em;
}

.stl_ie .stl_35 {
	letter-spacing: -0.0081px;
}
.stl_36 {
	letter-spacing: -0.004em;
}

.stl_ie .stl_36 {
	letter-spacing: -0.0458px;
}
@font-face {
	font-family:"GAMTHM+Arial-BoldMT";
	src:url("b813c05b-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_37 {
	font-size: 0.916667em;
	font-family: "GAMTHM+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_38 {
	font-size: 0.5em;
	font-family: "VPCGBU+MinionPro-Regular";
	color: #000000;
}
