.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"BICVBO+TimesNewRomanPS-BoldMT";
	src:url("2bc45d37-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.666667em;
	font-family: "BICVBO+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"JAPPVS+TimesNewRomanPSMT";
	src:url("0ae60796-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.666667em;
	font-family: "JAPPVS+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0016px;
}
@font-face {
	font-family:"KORNUU+MinionPro-Regular";
	src:url("1fbb525b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "KORNUU+MinionPro-Regular";
	color: #000000;
}
.stl_15 {
	line-height: 1.007em;
}
.stl_16 {
	font-size: 1em;
	font-family: "JAPPVS+TimesNewRomanPSMT";
	color: #000000;
}
@font-face {
	font-family:"LDRGVM+TimesNewRomanPS-BoldMT";
	src:url("b095283a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 1em;
	font-family: "LDRGVM+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_18 {
	letter-spacing: -0.091em;
}

.stl_ie .stl_18 {
	letter-spacing: -1.4559px;
}
.stl_19 {
	font-size: 0.666667em;
	font-family: "LDRGVM+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_20 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_20 {
	letter-spacing: -0.0007px;
}
.stl_21 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_21 {
	letter-spacing: 0.0006px;
}
.stl_22 {
	font-size: 0.75em;
	font-family: "JAPPVS+TimesNewRomanPSMT";
	color: #000000;
}
.stl_23 {
	letter-spacing: -0.0912em;
}

.stl_ie .stl_23 {
	letter-spacing: -1.094px;
}
.stl_24 {
	letter-spacing: -0.1102em;
}

.stl_ie .stl_24 {
	letter-spacing: -1.322px;
}
.stl_25 {
	letter-spacing: -0.0013em;
}

.stl_ie .stl_25 {
	letter-spacing: -0.0152px;
}
@font-face {
	font-family:"NNWJPR+TimesNewRomanPS-ItalicMT";
	src:url("3036da14-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_26 {
	font-size: 0.5247em;
	font-family: "NNWJPR+TimesNewRomanPS-ItalicMT";
	color: #000000;
}
.stl_27 {
	letter-spacing: -0.0077em;
}

.stl_ie .stl_27 {
	letter-spacing: -0.0928px;
}
.stl_28 {
	font-size: 0.75em;
	font-family: "BICVBO+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_29 {
	letter-spacing: 0.1459em;
}

.stl_ie .stl_29 {
	letter-spacing: 2.3349px;
}
.stl_30 {
	font-size: 0.6996em;
	font-family: "BICVBO+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_31 {
	font-size: 0.75em;
	font-family: "LDRGVM+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_32 {
	letter-spacing: -0.0046em;
}

.stl_ie .stl_32 {
	letter-spacing: -0.0552px;
}
.stl_33 {
	letter-spacing: -0.0038em;
}

.stl_ie .stl_33 {
	letter-spacing: -0.046px;
}
@font-face {
	font-family:"LSCUEC+TimesNewRomanPSMT";
	src:url("6832e4f9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_34 {
	font-size: 0.75em;
	font-family: "LSCUEC+TimesNewRomanPSMT";
	color: #000000;
}
.stl_35 {
	letter-spacing: -0.0017em;
}

.stl_ie .stl_35 {
	letter-spacing: -0.02px;
}
.stl_36 {
	font-size: 0.833333em;
	font-family: "BICVBO+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_37 {
	font-size: 0.833333em;
	font-family: "JAPPVS+TimesNewRomanPSMT";
	color: #000000;
}
.stl_38 {
	font-size: 0.833333em;
	font-family: "LDRGVM+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_39 {
	letter-spacing: -0.0011em;
}

.stl_ie .stl_39 {
	letter-spacing: -0.0152px;
}
.stl_40 {
	font-size: 0.833333em;
	font-family: "LSCUEC+TimesNewRomanPSMT";
	color: #000000;
}
.stl_41 {
	font-size: 0.583em;
	font-family: "NNWJPR+TimesNewRomanPS-ItalicMT";
	color: #000000;
}
.stl_42 {
	letter-spacing: -0.012em;
}

.stl_ie .stl_42 {
	letter-spacing: -0.0933px;
}
@font-face {
	font-family:"JQIGRU+Arial-BoldMT";
	src:url("44a1beb9-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_43 {
	font-size: 0.916667em;
	font-family: "JQIGRU+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_44 {
	font-size: 0.5em;
	font-family: "KORNUU+MinionPro-Regular";
	color: #000000;
}
