.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"QJCQUF+ArialMT";
	src:url("d9c5d3d7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 1em;
	font-family: "QJCQUF+ArialMT";
	color: #000000;
}
.stl_11 {
	letter-spacing: -0.0004em;
}

.stl_ie .stl_11 {
	letter-spacing: -0.0061px;
}
.stl_12 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_12 {
	letter-spacing: -0.0012px;
}
.stl_13 {
	letter-spacing: -0.0008em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0129px;
}
.stl_14 {
	letter-spacing: 0.0092em;
}

.stl_ie .stl_14 {
	letter-spacing: 0.1479px;
}
.stl_15 {
	letter-spacing: 0.0099em;
}

.stl_ie .stl_15 {
	letter-spacing: 0.1589px;
}
.stl_16 {
	letter-spacing: 0.0299em;
}

.stl_ie .stl_16 {
	letter-spacing: 0.4784px;
}
.stl_17 {
	letter-spacing: 0.0579em;
}

.stl_ie .stl_17 {
	letter-spacing: 0.9262px;
}
.stl_18 {
	letter-spacing: 0.0692em;
}

.stl_ie .stl_18 {
	letter-spacing: 1.1077px;
}
.stl_19 {
	letter-spacing: 0.0699em;
}

.stl_ie .stl_19 {
	letter-spacing: 1.1187px;
}
.stl_20 {
	letter-spacing: 0.0293em;
}

.stl_ie .stl_20 {
	letter-spacing: 0.4687px;
}
@font-face {
	font-family:"GRLEEH+Arial-BoldMT";
	src:url("c6a6b77a-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 0.916667em;
	font-family: "GRLEEH+Arial-BoldMT", "Times New Roman";
	color: #010101;
}
.stl_22 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_22 {
	letter-spacing: -0.0022px;
}
@font-face {
	font-family:"JJDMNI+MinionPro-Regular";
	src:url("4f6f295f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_23 {
	font-size: 0.5em;
	font-family: "JJDMNI+MinionPro-Regular";
	color: #000000;
}
.stl_24 {
	line-height: 1.007em;
}
