.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"TIICPV+TimesNewRomanPS-BoldMT";
	src:url("66d6c5a9-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.75em;
	font-family: "TIICPV+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"MEHHCM+TimesNewRomanPSMT";
	src:url("8bba64a4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.75em;
	font-family: "MEHHCM+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0007px;
}
@font-face {
	font-family:"MKFUII+MinionPro-Regular";
	src:url("794f60a8-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "MKFUII+MinionPro-Regular";
	color: #000000;
}
.stl_15 {
	line-height: 1.007em;
}
.stl_16 {
	font-size: 1em;
	font-family: "MEHHCM+TimesNewRomanPSMT";
	color: #000000;
}
@font-face {
	font-family:"CVNEIN+TimesNewRomanPS-BoldMT";
	src:url("880f60ef-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 1em;
	font-family: "CVNEIN+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_18 {
	font-size: 0.75em;
	font-family: "CVNEIN+TimesNewRomanPS-BoldMT";
	color: #000000;
}
@font-face {
	font-family:"UBMISB+MyriadPro-Bold";
	src:url("a0e8bd3e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.740017em;
	font-family: "UBMISB+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_20 {
	line-height: 0.711em;
}
.stl_21 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_21 {
	letter-spacing: 0.0007px;
}
.stl_22 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_22 {
	letter-spacing: -0.0018px;
}
.stl_23 {
	letter-spacing: -0.0093em;
}

.stl_ie .stl_23 {
	letter-spacing: -0.1483px;
}
.stl_24 {
	font-size: 0.666667em;
	font-family: "TIICPV+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_25 {
	font-size: 0.666667em;
	font-family: "MEHHCM+TimesNewRomanPSMT";
	color: #000000;
}
.stl_26 {
	letter-spacing: -0.0026em;
}

.stl_ie .stl_26 {
	letter-spacing: -0.0408px;
}
.stl_27 {
	letter-spacing: 0.1453em;
}

.stl_ie .stl_27 {
	letter-spacing: 2.3255px;
}
.stl_28 {
	font-size: 0.666667em;
	font-family: "CVNEIN+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_29 {
	letter-spacing: -0.0013em;
}

.stl_ie .stl_29 {
	letter-spacing: -0.0136px;
}
.stl_30 {
	letter-spacing: -0.0006em;
}

.stl_ie .stl_30 {
	letter-spacing: -0.0068px;
}
@font-face {
	font-family:"CBBEWW+Arial-BoldMT";
	src:url("ada8ab5f-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_31 {
	font-size: 0.916667em;
	font-family: "CBBEWW+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_32 {
	font-size: 0.5em;
	font-family: "MKFUII+MinionPro-Regular";
	color: #000000;
}
