.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"HTUADN+Arial-BoldMT";
	src:url("5e7d837f-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 1em;
	font-family: "HTUADN+Arial-BoldMT";
	color: #000000;
}
.stl_11 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_11 {
	letter-spacing: 0.0015px;
}
@font-face {
	font-family:"BAUFOG+ArialMT";
	src:url("3a6183a7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 1em;
	font-family: "BAUFOG+ArialMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.002px;
}
@font-face {
	font-family:"DBGQKS+ArialMT";
	src:url("08cc300f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "DBGQKS+ArialMT";
	color: #000000;
}
.stl_15 {
	letter-spacing: 0.06em;
}

.stl_ie .stl_15 {
	letter-spacing: 0.9603px;
}
.stl_16 {
	letter-spacing: 0.0599em;
}

.stl_ie .stl_16 {
	letter-spacing: 0.9588px;
}
.stl_17 {
	letter-spacing: 0.0286em;
}

.stl_ie .stl_17 {
	letter-spacing: 0.4575px;
}
.stl_18 {
	letter-spacing: 0.0099em;
}

.stl_ie .stl_18 {
	letter-spacing: 0.1583px;
}
.stl_19 {
	letter-spacing: 0.0101em;
}

.stl_ie .stl_19 {
	letter-spacing: 0.1609px;
}
.stl_20 {
	letter-spacing: 0.01em;
}

.stl_ie .stl_20 {
	letter-spacing: 0.16px;
}
.stl_21 {
	letter-spacing: 0.0098em;
}

.stl_ie .stl_21 {
	letter-spacing: 0.1575px;
}
.stl_22 {
	letter-spacing: 0.0598em;
}

.stl_ie .stl_22 {
	letter-spacing: 0.9573px;
}
.stl_23 {
	letter-spacing: 0.0601em;
}

.stl_ie .stl_23 {
	letter-spacing: 0.9609px;
}
.stl_24 {
	letter-spacing: 0.0565em;
}

.stl_ie .stl_24 {
	letter-spacing: 0.9045px;
}
.stl_25 {
	letter-spacing: 0.0077em;
}

.stl_ie .stl_25 {
	letter-spacing: 0.1238px;
}
.stl_26 {
	letter-spacing: -0.068em;
}

.stl_ie .stl_26 {
	letter-spacing: -1.0879px;
}
.stl_27 {
	letter-spacing: 0.0602em;
}

.stl_ie .stl_27 {
	letter-spacing: 0.9627px;
}
.stl_28 {
	letter-spacing: -0.129em;
}

.stl_ie .stl_28 {
	letter-spacing: -2.0639px;
}
.stl_29 {
	letter-spacing: 0.0002em;
}

.stl_ie .stl_29 {
	letter-spacing: 0.0027px;
}
.stl_30 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_30 {
	letter-spacing: -0.0027px;
}
.stl_31 {
	letter-spacing: 0.0049em;
}

.stl_ie .stl_31 {
	letter-spacing: 0.0788px;
}
.stl_32 {
	font-size: 0.916667em;
	font-family: "HTUADN+Arial-BoldMT";
	color: #000000;
}
@font-face {
	font-family:"VGEMCJ+MinionPro-Regular";
	src:url("a128f65b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_33 {
	font-size: 0.5em;
	font-family: "VGEMCJ+MinionPro-Regular";
	color: #000000;
}
.stl_34 {
	line-height: 1.007em;
}
