.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"VBDWWC+TimesNewRomanPS-BoldMT";
	src:url("13590633-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.708333em;
	font-family: "VBDWWC+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"ODTMTC+TimesNewRomanPSMT";
	src:url("1fe4dedf-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.708333em;
	font-family: "ODTMTC+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0007px;
}
@font-face {
	font-family:"JCQOIJ+MinionPro-Regular";
	src:url("7d918f93-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "JCQOIJ+MinionPro-Regular";
	color: #000000;
}
.stl_15 {
	line-height: 1.007em;
}
.stl_16 {
	letter-spacing: -0.0018em;
}

.stl_ie .stl_16 {
	letter-spacing: -0.0288px;
}
@font-face {
	font-family:"KQCWMW+TimesNewRomanPS-BoldMT";
	src:url("b614b9da-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 1em;
	font-family: "KQCWMW+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_18 {
	font-size: 0.708333em;
	font-family: "KQCWMW+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_19 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_19 {
	letter-spacing: 0.0007px;
}
.stl_20 {
	-o-transform: scale(1,1.1507);
	-webkit-transform: scale(1,1.1507);
	-moz-transform: scale(1,1.1507);
	transform: scale(1,1.1507);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.1507,0,-0);
	-ms-transform-origin: top left;
}
@font-face {
	font-family:"JJTHJV+MyriadPro-Bold";
	src:url("f7e83536-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 0.592733em;
	font-family: "JJTHJV+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_22 {
	line-height: 0.711em;
}
@font-face {
	font-family:"JGRTVB+TimesNewRomanPSMT";
	src:url("5f2e6c8d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_23 {
	font-size: 0.708333em;
	font-family: "JGRTVB+TimesNewRomanPSMT";
	color: #000000;
}
.stl_24 {
	font-size: 0.833333em;
	font-family: "ODTMTC+TimesNewRomanPSMT";
	color: #000000;
}
.stl_25 {
	letter-spacing: -0.0034em;
}

.stl_ie .stl_25 {
	letter-spacing: -0.0451px;
}
.stl_26 {
	font-size: 0.833333em;
	font-family: "VBDWWC+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_27 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_27 {
	letter-spacing: -0.002px;
}
.stl_28 {
	font-size: 0.833333em;
	font-family: "KQCWMW+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_29 {
	letter-spacing: -0.0009em;
}

.stl_ie .stl_29 {
	letter-spacing: -0.0122px;
}
@font-face {
	font-family:"AGMHBW+TimesNewRomanPS-ItalicMT";
	src:url("83bab6b3-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_30 {
	font-size: 0.583em;
	font-family: "AGMHBW+TimesNewRomanPS-ItalicMT", "Times New Roman";
	color: #000000;
}
.stl_31 {
	letter-spacing: -0.0059em;
}

.stl_ie .stl_31 {
	letter-spacing: -0.0463px;
}
.stl_32 {
	font-size: 0.666667em;
	font-family: "VBDWWC+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_33 {
	font-size: 0.666667em;
	font-family: "ODTMTC+TimesNewRomanPSMT";
	color: #000000;
}
.stl_34 {
	font-size: 0.666667em;
	font-family: "KQCWMW+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_35 {
	-o-transform: scale(1,1.070295);
	-webkit-transform: scale(1,1.070295);
	-moz-transform: scale(1,1.070295);
	transform: scale(1,1.070295);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.070295,0,-0);
	-ms-transform-origin: top left;
}
.stl_36 {
	font-size: 0.589542em;
	font-family: "JJTHJV+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_37 {
	font-size: 0.666667em;
	font-family: "JGRTVB+TimesNewRomanPSMT";
	color: #000000;
}
.stl_38 {
	letter-spacing: 0.1408em;
}

.stl_ie .stl_38 {
	letter-spacing: 1.8777px;
}
@font-face {
	font-family:"RTMJFH+Arial-BoldMT";
	src:url("387b4ca0-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_39 {
	font-size: 0.916667em;
	font-family: "RTMJFH+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_40 {
	font-size: 0.5em;
	font-family: "JCQOIJ+MinionPro-Regular";
	color: #000000;
}
