.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"TFHNTN+TimesNewRomanPS-BoldMT";
	src:url("a01dee2c-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.675em;
	font-family: "TFHNTN+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"AQLJDU+TimesNewRomanPSMT";
	src:url("be389b21-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.675em;
	font-family: "AQLJDU+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0009px;
}
@font-face {
	font-family:"FPDKJM+TimesNewRomanPS-BoldMT";
	src:url("b534eb8a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "FPDKJM+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_15 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_15 {
	letter-spacing: 0.0011px;
}
@font-face {
	font-family:"LWOFMT+MinionPro-Regular";
	src:url("6a37baa4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 1em;
	font-family: "LWOFMT+MinionPro-Regular";
	color: #000000;
}
.stl_17 {
	line-height: 1.007em;
}
.stl_18 {
	letter-spacing: -0.0015em;
}

.stl_ie .stl_18 {
	letter-spacing: -0.024px;
}
.stl_19 {
	font-size: 0.675em;
	font-family: "FPDKJM+TimesNewRomanPS-BoldMT";
	color: #000000;
}
@font-face {
	font-family:"AHGLPT+TimesNewRomanPSMT";
	src:url("a8fb2872-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_20 {
	font-size: 0.675em;
	font-family: "AHGLPT+TimesNewRomanPSMT";
	color: #000000;
}
.stl_21 {
	letter-spacing: -0.1102em;
}

.stl_ie .stl_21 {
	letter-spacing: -1.1897px;
}
.stl_22 {
	-o-transform: scale(1,1.06449);
	-webkit-transform: scale(1,1.06449);
	-moz-transform: scale(1,1.06449);
	transform: scale(1,1.06449);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.06449,0,-0);
	-ms-transform-origin: top left;
}
@font-face {
	font-family:"FVRMDO+MyriadPro-Bold";
	src:url("cda6cda0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_23 {
	font-size: 0.596342em;
	font-family: "FVRMDO+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_24 {
	line-height: 0.711em;
}
.stl_25 {
	letter-spacing: -0.0006em;
}

.stl_ie .stl_25 {
	letter-spacing: -0.0066px;
}
.stl_26 {
	font-size: 0.833333em;
	font-family: "AQLJDU+TimesNewRomanPSMT";
	color: #000000;
}
.stl_27 {
	letter-spacing: 0.1408em;
}

.stl_ie .stl_27 {
	letter-spacing: 1.8778px;
}
.stl_28 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_28 {
	letter-spacing: -0.0022px;
}
.stl_29 {
	font-size: 0.75em;
	font-family: "TFHNTN+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_30 {
	font-size: 0.75em;
	font-family: "AQLJDU+TimesNewRomanPSMT";
	color: #000000;
}
.stl_31 {
	font-size: 0.75em;
	font-family: "FPDKJM+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_32 {
	font-size: 0.75em;
	font-family: "AHGLPT+TimesNewRomanPSMT";
	color: #000000;
}
.stl_33 {
	letter-spacing: -0.1112em;
}

.stl_ie .stl_33 {
	letter-spacing: -1.3338px;
}
.stl_34 {
	letter-spacing: -0.0013em;
}

.stl_ie .stl_34 {
	letter-spacing: -0.0153px;
}
.stl_35 {
	font-size: 0.833333em;
	font-family: "TFHNTN+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_36 {
	font-size: 0.833333em;
	font-family: "FPDKJM+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_37 {
	letter-spacing: -0.0091em;
}

.stl_ie .stl_37 {
	letter-spacing: -0.1214px;
}
@font-face {
	font-family:"JSBPPS+Arial-BoldMT";
	src:url("0fced607-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_38 {
	font-size: 0.916667em;
	font-family: "JSBPPS+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_39 {
	font-size: 0.5em;
	font-family: "LWOFMT+MinionPro-Regular";
	color: #000000;
}
