.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"NEUUSR+TimesNewRomanPS-BoldMT";
	src:url("195299e8-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.75em;
	font-family: "NEUUSR+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"WILVRM+TimesNewRomanPSMT";
	src:url("e9804579-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.75em;
	font-family: "WILVRM+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0018px;
}
@font-face {
	font-family:"BQBGVW+MinionPro-Regular";
	src:url("9a7cb870-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "BQBGVW+MinionPro-Regular";
	color: #000000;
}
.stl_15 {
	line-height: 1.007em;
}
@font-face {
	font-family:"HOJTVR+TimesNewRomanPS-BoldMT";
	src:url("9dd96431-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 1em;
	font-family: "HOJTVR+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_17 {
	font-size: 1em;
	font-family: "NEUUSR+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_18 {
	font-size: 0.75em;
	font-family: "HOJTVR+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_19 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_19 {
	letter-spacing: 0.0007px;
}
.stl_20 {
	-o-transform: scale(1,1.001412);
	-webkit-transform: scale(1,1.001412);
	-moz-transform: scale(1,1.001412);
	transform: scale(1,1.001412);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.001412,0,-0);
	-ms-transform-origin: top left;
}
@font-face {
	font-family:"CEGWHV+MyriadPro-Bold";
	src:url("8b21dbd6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 0.560858em;
	font-family: "CEGWHV+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_22 {
	line-height: 0.711em;
}
.stl_23 {
	-o-transform: scale(1,1.001411);
	-webkit-transform: scale(1,1.001411);
	-moz-transform: scale(1,1.001411);
	transform: scale(1,1.001411);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.001411,0,-0);
	-ms-transform-origin: top left;
}
.stl_24 {
	font-size: 0.560851em;
	font-family: "CEGWHV+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_25 {
	letter-spacing: -0.0013em;
}

.stl_ie .stl_25 {
	letter-spacing: -0.0153px;
}
.stl_26 {
	letter-spacing: -0.0054em;
}

.stl_ie .stl_26 {
	letter-spacing: -0.0649px;
}
.stl_27 {
	font-size: 0.833333em;
	font-family: "WILVRM+TimesNewRomanPSMT";
	color: #000000;
}
.stl_28 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_28 {
	letter-spacing: -0.001px;
}
.stl_29 {
	letter-spacing: -0.1102em;
}

.stl_ie .stl_29 {
	letter-spacing: -1.4689px;
}
.stl_30 {
	font-size: 0.666667em;
	font-family: "NEUUSR+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_31 {
	font-size: 0.666667em;
	font-family: "WILVRM+TimesNewRomanPSMT";
	color: #000000;
}
.stl_32 {
	font-size: 0.666667em;
	font-family: "HOJTVR+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_33 {
	font-size: 0.547008em;
	font-family: "CEGWHV+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_34 {
	letter-spacing: -0.0044em;
}

.stl_ie .stl_34 {
	letter-spacing: -0.0472px;
}
.stl_35 {
	font-size: 0.833333em;
	font-family: "NEUUSR+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_36 {
	font-size: 0.833333em;
	font-family: "HOJTVR+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_37 {
	letter-spacing: -0.0008em;
}

.stl_ie .stl_37 {
	letter-spacing: -0.0109px;
}
.stl_38 {
	font-size: 0.447425em;
	font-family: "CEGWHV+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_39 {
	letter-spacing: -0.0019em;
}

.stl_ie .stl_39 {
	letter-spacing: -0.0257px;
}
@font-face {
	font-family:"QSGWKH+TimesNewRomanPSMT";
	src:url("f9a273d1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_40 {
	font-size: 0.833333em;
	font-family: "QSGWKH+TimesNewRomanPSMT";
	color: #000000;
}
.stl_41 {
	letter-spacing: -0.0032em;
}

.stl_ie .stl_41 {
	letter-spacing: -0.0429px;
}
.stl_42 {
	letter-spacing: -0.0912em;
}

.stl_ie .stl_42 {
	letter-spacing: -1.2154px;
}
@font-face {
	font-family:"TWHFJV+TimesNewRomanPS-ItalicMT";
	src:url("3449fb1c-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_43 {
	font-size: 0.583em;
	font-family: "TWHFJV+TimesNewRomanPS-ItalicMT", "Times New Roman";
	color: #000000;
}
.stl_44 {
	letter-spacing: -0.0045em;
}

.stl_ie .stl_44 {
	letter-spacing: -0.0348px;
}
@font-face {
	font-family:"HBHECH+Arial-BoldMT";
	src:url("54d4aac5-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_45 {
	font-size: 0.916667em;
	font-family: "HBHECH+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_46 {
	font-size: 0.5em;
	font-family: "BQBGVW+MinionPro-Regular";
	color: #000000;
}
