.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"QRRLPG+TimesNewRomanPS-BoldMT";
	src:url("b2a67e4c-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.833333em;
	font-family: "QRRLPG+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"PEITAQ+TimesNewRomanPSMT";
	src:url("04d62832-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.833333em;
	font-family: "PEITAQ+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.002px;
}
.stl_14 {
	font-size: 1em;
	font-family: "QRRLPG+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_15 {
	letter-spacing: -0.0036em;
}

.stl_ie .stl_15 {
	letter-spacing: -0.0576px;
}
@font-face {
	font-family:"WDRFTB+MinionPro-Regular";
	src:url("2f9dab4a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 1em;
	font-family: "WDRFTB+MinionPro-Regular";
	color: #000000;
}
.stl_17 {
	line-height: 1.007em;
}
.stl_18 {
	font-size: 1em;
	font-family: "PEITAQ+TimesNewRomanPSMT";
	color: #000000;
}
@font-face {
	font-family:"VNBMJF+TimesNewRomanPS-BoldMT";
	src:url("1596c17f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.833333em;
	font-family: "VNBMJF+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_20 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_20 {
	letter-spacing: -0.0011px;
}
.stl_21 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_21 {
	letter-spacing: 0.0008px;
}
.stl_22 {
	font-size: 0.75em;
	font-family: "PEITAQ+TimesNewRomanPSMT";
	color: #000000;
}
.stl_23 {
	letter-spacing: -0.0007em;
}

.stl_ie .stl_23 {
	letter-spacing: -0.0081px;
}
.stl_24 {
	letter-spacing: -0.0032em;
}

.stl_ie .stl_24 {
	letter-spacing: -0.0389px;
}
.stl_25 {
	font-size: 0.75em;
	font-family: "QRRLPG+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_26 {
	font-size: 1em;
	font-family: "VNBMJF+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_27 {
	letter-spacing: -0.0045em;
}

.stl_ie .stl_27 {
	letter-spacing: -0.0715px;
}
.stl_28 {
	font-size: 0.75em;
	font-family: "VNBMJF+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_29 {
	letter-spacing: -0.1102em;
}

.stl_ie .stl_29 {
	letter-spacing: -1.3218px;
}
@font-face {
	font-family:"ELQNDP+TimesNewRomanPSMT";
	src:url("09f36ab2-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_30 {
	font-size: 0.75em;
	font-family: "ELQNDP+TimesNewRomanPSMT";
	color: #000000;
}
.stl_31 {
	font-size: 0.666667em;
	font-family: "QRRLPG+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_32 {
	font-size: 0.666667em;
	font-family: "PEITAQ+TimesNewRomanPSMT";
	color: #000000;
}
.stl_33 {
	font-size: 0.6996em;
	font-family: "QRRLPG+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_34 {
	font-size: 0.666667em;
	font-family: "VNBMJF+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_35 {
	letter-spacing: -0.0011em;
}

.stl_ie .stl_35 {
	letter-spacing: -0.0122px;
}
.stl_36 {
	letter-spacing: -0.0048em;
}

.stl_ie .stl_36 {
	letter-spacing: -0.0576px;
}
@font-face {
	font-family:"OAEVGO+TimesNewRomanPS-ItalicMT";
	src:url("9523a27e-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_37 {
	font-size: 0.5247em;
	font-family: "OAEVGO+TimesNewRomanPS-ItalicMT", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"STFPMJ+Arial-BoldMT";
	src:url("53a74a99-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_38 {
	font-size: 0.916667em;
	font-family: "STFPMJ+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_39 {
	font-size: 0.5em;
	font-family: "WDRFTB+MinionPro-Regular";
	color: #000000;
}
