.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"GGWJKO+TimesNewRomanPS-BoldMT";
	src:url("2289e3a7-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.833333em;
	font-family: "GGWJKO+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"UAICDS+TimesNewRomanPSMT";
	src:url("44298697-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.833333em;
	font-family: "UAICDS+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.002px;
}
@font-face {
	font-family:"AAMOCH+TimesNewRomanPS-BoldMT";
	src:url("4c4b0457-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "AAMOCH+TimesNewRomanPS-BoldMT";
	color: #686868;
}
@font-face {
	font-family:"VMGPFC+MinionPro-Regular";
	src:url("a865ba78-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 1em;
	font-family: "VMGPFC+MinionPro-Regular";
	color: #000000;
}
.stl_16 {
	line-height: 1.007em;
}
.stl_17 {
	font-size: 1em;
	font-family: "UAICDS+TimesNewRomanPSMT";
	color: #000000;
}
.stl_18 {
	font-size: 0.833333em;
	font-family: "AAMOCH+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_19 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_19 {
	letter-spacing: 0.0008px;
}
.stl_20 {
	font-size: 0.75em;
	font-family: "UAICDS+TimesNewRomanPSMT";
	color: #000000;
}
.stl_21 {
	letter-spacing: -0.1102em;
}

.stl_ie .stl_21 {
	letter-spacing: -1.322px;
}
.stl_22 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_22 {
	letter-spacing: -0.0006px;
}
.stl_23 {
	letter-spacing: -0.0009em;
}

.stl_ie .stl_23 {
	letter-spacing: -0.0105px;
}
.stl_24 {
	font-size: 0.666667em;
	font-family: "GGWJKO+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_25 {
	font-size: 0.666667em;
	font-family: "UAICDS+TimesNewRomanPSMT";
	color: #000000;
}
.stl_26 {
	letter-spacing: -0.0023em;
}

.stl_ie .stl_26 {
	letter-spacing: -0.0361px;
}
.stl_27 {
	font-size: 0.6996em;
	font-family: "GGWJKO+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_28 {
	font-size: 0.666667em;
	font-family: "AAMOCH+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_29 {
	letter-spacing: -0.0066em;
}

.stl_ie .stl_29 {
	letter-spacing: -0.0699px;
}
.stl_30 {
	letter-spacing: -0.0018em;
}

.stl_ie .stl_30 {
	letter-spacing: -0.0195px;
}
.stl_31 {
	letter-spacing: -0.0093em;
}

.stl_ie .stl_31 {
	letter-spacing: -0.0989px;
}
@font-face {
	font-family:"UUMUFD+TimesNewRomanPSMT";
	src:url("cf299fa8-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_32 {
	font-size: 0.666667em;
	font-family: "UUMUFD+TimesNewRomanPSMT";
	color: #000000;
}
.stl_33 {
	letter-spacing: -0.0059em;
}

.stl_ie .stl_33 {
	letter-spacing: -0.0712px;
}
.stl_34 {
	letter-spacing: -0.0022em;
}

.stl_ie .stl_34 {
	letter-spacing: -0.0344px;
}
.stl_35 {
	-o-transform: scale(1,0.9721291);
	-webkit-transform: scale(1,0.9721291);
	-moz-transform: scale(1,0.9721291);
	transform: scale(1,0.9721291);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.9721291,0,-0);
	-ms-transform-origin: top left;
}
@font-face {
	font-family:"JRILGI+MyriadPro-Bold";
	src:url("0a865f09-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_36 {
	font-size: 0.736416em;
	font-family: "JRILGI+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_37 {
	line-height: 0.711em;
}
.stl_38 {
	letter-spacing: -0.0069em;
}

.stl_ie .stl_38 {
	letter-spacing: -0.083px;
}
.stl_39 {
	letter-spacing: -0.0027em;
}

.stl_ie .stl_39 {
	letter-spacing: -0.0323px;
}
.stl_40 {
	letter-spacing: -0.0042em;
}

.stl_ie .stl_40 {
	letter-spacing: -0.0502px;
}
@font-face {
	font-family:"GHEMQR+Arial-BoldMT";
	src:url("f9d09a77-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_41 {
	font-size: 0.916667em;
	font-family: "GHEMQR+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_42 {
	font-size: 0.5em;
	font-family: "VMGPFC+MinionPro-Regular";
	color: #000000;
}
