.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"SOKMTS+TimesNewRomanPS-BoldMT";
	src:url("8448f581-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.625em;
	font-family: "SOKMTS+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"IPTNTP+TimesNewRomanPSMT";
	src:url("306ea0ff-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.625em;
	font-family: "IPTNTP+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0005px;
}
@font-face {
	font-family:"GWBLME+TimesNewRomanPS-BoldMT";
	src:url("aff7a54c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "GWBLME+TimesNewRomanPS-BoldMT";
	color: #686868;
}
@font-face {
	font-family:"JCHTAQ+MinionPro-Regular";
	src:url("6474c4d0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 1em;
	font-family: "JCHTAQ+MinionPro-Regular";
	color: #000000;
}
.stl_16 {
	line-height: 1.007em;
}
.stl_17 {
	font-size: 0.625em;
	font-family: "GWBLME+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_18 {
	letter-spacing: -0.1102em;
}

.stl_ie .stl_18 {
	letter-spacing: -1.1015px;
}
.stl_19 {
	letter-spacing: 0.0041em;
}

.stl_ie .stl_19 {
	letter-spacing: 0.0409px;
}
@font-face {
	font-family:"UUJJIJ+TimesNewRomanPSMT";
	src:url("39e9b0e3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_20 {
	font-size: 0.625em;
	font-family: "UUJJIJ+TimesNewRomanPSMT";
	color: #000000;
}
.stl_21 {
	letter-spacing: -0.0199em;
}

.stl_ie .stl_21 {
	letter-spacing: -0.1994px;
}
.stl_22 {
	letter-spacing: -0.0135em;
}

.stl_ie .stl_22 {
	letter-spacing: -0.1348px;
}
.stl_23 {
	letter-spacing: -0.0125em;
}

.stl_ie .stl_23 {
	letter-spacing: -0.1254px;
}
.stl_24 {
	-o-transform: scale(1,1.083265);
	-webkit-transform: scale(1,1.083265);
	-moz-transform: scale(1,1.083265);
	transform: scale(1,1.083265);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.083265,0,-0);
	-ms-transform-origin: top left;
}
@font-face {
	font-family:"CEAAAT+MyriadPro-Bold";
	src:url("dcd154e1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_25 {
	font-size: 0.4897em;
	font-family: "CEAAAT+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_26 {
	line-height: 0.711em;
}
.stl_27 {
	letter-spacing: -0.01em;
}

.stl_ie .stl_27 {
	letter-spacing: -0.0998px;
}
.stl_28 {
	letter-spacing: 0.01em;
}

.stl_ie .stl_28 {
	letter-spacing: 0.1005px;
}
.stl_29 {
	letter-spacing: 0.0123em;
}

.stl_ie .stl_29 {
	letter-spacing: 0.1228px;
}
.stl_30 {
	letter-spacing: 0.05em;
}

.stl_ie .stl_30 {
	letter-spacing: 0.5001px;
}
.stl_31 {
	letter-spacing: 0.0412em;
}

.stl_ie .stl_31 {
	letter-spacing: 0.4121px;
}
.stl_32 {
	letter-spacing: 0.0201em;
}

.stl_ie .stl_32 {
	letter-spacing: 0.2006px;
}
.stl_33 {
	letter-spacing: 0.0501em;
}

.stl_ie .stl_33 {
	letter-spacing: 0.5007px;
}
.stl_34 {
	letter-spacing: 0.036em;
}

.stl_ie .stl_34 {
	letter-spacing: 0.3601px;
}
.stl_35 {
	letter-spacing: 0.0101em;
}

.stl_ie .stl_35 {
	letter-spacing: 0.1007px;
}
.stl_36 {
	font-size: 0.75em;
	font-family: "IPTNTP+TimesNewRomanPSMT";
	color: #000000;
}
.stl_37 {
	letter-spacing: -0.0049em;
}

.stl_ie .stl_37 {
	letter-spacing: -0.059px;
}
.stl_38 {
	letter-spacing: -0.004em;
}

.stl_ie .stl_38 {
	letter-spacing: -0.0477px;
}
@font-face {
	font-family:"MECVKC+TimesNewRomanPS-ItalicMT";
	src:url("ea795506-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_39 {
	font-size: 0.75em;
	font-family: "MECVKC+TimesNewRomanPS-ItalicMT", "Times New Roman";
	color: #000000;
}
.stl_40 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_40 {
	letter-spacing: 0.0007px;
}
.stl_41 {
	letter-spacing: 0.0099em;
}

.stl_ie .stl_41 {
	letter-spacing: 0.0994px;
}
.stl_42 {
	font-size: 0.791667em;
	font-family: "SOKMTS+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_43 {
	font-size: 0.791667em;
	font-family: "IPTNTP+TimesNewRomanPSMT";
	color: #000000;
}
.stl_44 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_44 {
	letter-spacing: -0.0019px;
}
.stl_45 {
	font-size: 0.6996em;
	font-family: "SOKMTS+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_46 {
	letter-spacing: -0.0912em;
}

.stl_ie .stl_46 {
	letter-spacing: -1.4587px;
}
.stl_47 {
	letter-spacing: -0.0004em;
}

.stl_ie .stl_47 {
	letter-spacing: -0.0066px;
}
.stl_48 {
	letter-spacing: -0.0007em;
}

.stl_ie .stl_48 {
	letter-spacing: -0.0066px;
}
.stl_49 {
	font-size: 0.791667em;
	font-family: "GWBLME+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_50 {
	letter-spacing: -0.0602em;
}

.stl_ie .stl_50 {
	letter-spacing: -0.7619px;
}
.stl_51 {
	letter-spacing: 0.0499em;
}

.stl_ie .stl_51 {
	letter-spacing: 0.6323px;
}
.stl_52 {
	-o-transform: scale(1,1.0197);
	-webkit-transform: scale(1,1.0197);
	-moz-transform: scale(1,1.0197);
	transform: scale(1,1.0197);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.0197,0,-0);
	-ms-transform-origin: top left;
}
.stl_53 {
	font-size: 0.5017em;
	font-family: "CEAAAT+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_54 {
	letter-spacing: -0.0099em;
}

.stl_ie .stl_54 {
	letter-spacing: -0.1254px;
}
.stl_55 {
	font-size: 0.75em;
	font-family: "GWBLME+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_56 {
	letter-spacing: 0.02em;
}

.stl_ie .stl_56 {
	letter-spacing: 0.2534px;
}
.stl_57 {
	font-size: 0.833333em;
	font-family: "IPTNTP+TimesNewRomanPSMT";
	color: #000000;
}
.stl_58 {
	font-size: 0.75em;
	font-family: "SOKMTS+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_59 {
	-o-transform: scale(1,0.9651951);
	-webkit-transform: scale(1,0.9651951);
	-moz-transform: scale(1,0.9651951);
	transform: scale(1,0.9651951);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.9651951,0,-0);
	-ms-transform-origin: top left;
}
.stl_60 {
	font-size: 0.504768em;
	font-family: "CEAAAT+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_61 {
	letter-spacing: 0.0002em;
}

.stl_ie .stl_61 {
	letter-spacing: 0.0019px;
}
.stl_62 {
	letter-spacing: -0.0013em;
}

.stl_ie .stl_62 {
	letter-spacing: -0.0153px;
}
.stl_63 {
	letter-spacing: 0.1408em;
}

.stl_ie .stl_63 {
	letter-spacing: 1.7839px;
}
.stl_64 {
	letter-spacing: -0.0021em;
}

.stl_ie .stl_64 {
	letter-spacing: -0.0279px;
}
@font-face {
	font-family:"KUCQLI+Arial-BoldMT";
	src:url("5ec12eac-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_65 {
	font-size: 0.916667em;
	font-family: "KUCQLI+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_66 {
	letter-spacing: -0.0277em;
}

.stl_ie .stl_66 {
	letter-spacing: -0.4056px;
}
.stl_67 {
	font-size: 0.5em;
	font-family: "JCHTAQ+MinionPro-Regular";
	color: #000000;
}
