.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"NILQPP+TimesNewRomanPS-BoldMT";
	src:url("4cc3cf5e-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.833333em;
	font-family: "NILQPP+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"DPITFD+TimesNewRomanPSMT";
	src:url("79674497-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.833333em;
	font-family: "DPITFD+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.002px;
}
@font-face {
	font-family:"OLPWUW+MinionPro-Regular";
	src:url("30d6b1e1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "OLPWUW+MinionPro-Regular";
	color: #000000;
}
.stl_15 {
	line-height: 1.007em;
}
.stl_16 {
	font-size: 1em;
	font-family: "DPITFD+TimesNewRomanPSMT";
	color: #000000;
}
@font-face {
	font-family:"MDGTFN+TimesNewRomanPS-BoldMT";
	src:url("346f4bd2-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 1em;
	font-family: "MDGTFN+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_18 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_18 {
	letter-spacing: -0.0011px;
}
.stl_19 {
	font-size: 0.833333em;
	font-family: "MDGTFN+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_20 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_20 {
	letter-spacing: 0.0008px;
}
.stl_21 {
	font-size: 0.75em;
	font-family: "DPITFD+TimesNewRomanPSMT";
	color: #000000;
}
.stl_22 {
	letter-spacing: -0.0046em;
}

.stl_ie .stl_22 {
	letter-spacing: -0.0551px;
}
.stl_23 {
	font-size: 0.791667em;
	font-family: "NILQPP+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_24 {
	font-size: 0.791667em;
	font-family: "DPITFD+TimesNewRomanPSMT";
	color: #000000;
}
.stl_25 {
	font-size: 0.791667em;
	font-family: "MDGTFN+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_26 {
	letter-spacing: -0.0023em;
}

.stl_ie .stl_26 {
	letter-spacing: -0.0293px;
}
.stl_27 {
	letter-spacing: -0.1102em;
}

.stl_ie .stl_27 {
	letter-spacing: -1.322px;
}
.stl_28 {
	letter-spacing: -0.0022em;
}

.stl_ie .stl_28 {
	letter-spacing: -0.0356px;
}
.stl_29 {
	letter-spacing: -0.0107em;
}

.stl_ie .stl_29 {
	letter-spacing: -0.1427px;
}
.stl_30 {
	letter-spacing: -0.1282em;
}

.stl_ie .stl_30 {
	letter-spacing: -1.538px;
}
.stl_31 {
	letter-spacing: -0.0912em;
}

.stl_ie .stl_31 {
	letter-spacing: -1.0938px;
}
@font-face {
	font-family:"DFNTAL+Arial-BoldMT";
	src:url("1fba324e-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_32 {
	font-size: 0.916667em;
	font-family: "DFNTAL+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_33 {
	font-size: 0.5em;
	font-family: "OLPWUW+MinionPro-Regular";
	color: #000000;
}
