.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"QUVRKC+TimesNewRomanPS-BoldMT";
	src:url("f07e0da6-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.75em;
	font-family: "QUVRKC+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"RFDHKS+TimesNewRomanPSMT";
	src:url("b6e9db42-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.75em;
	font-family: "RFDHKS+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0018px;
}
@font-face {
	font-family:"JVPVNP+TimesNewRomanPS-BoldMT";
	src:url("c843e5ca-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "JVPVNP+TimesNewRomanPS-BoldMT";
	color: #686868;
}
@font-face {
	font-family:"NNQTOG+MinionPro-Regular";
	src:url("e1820d56-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 1em;
	font-family: "NNQTOG+MinionPro-Regular";
	color: #000000;
}
.stl_16 {
	line-height: 1.007em;
}
.stl_17 {
	font-size: 0.75em;
	font-family: "JVPVNP+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_18 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_18 {
	letter-spacing: 0.0007px;
}
@font-face {
	font-family:"FBJNQL+TimesNewRomanPSMT";
	src:url("feeb3e7d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.75em;
	font-family: "FBJNQL+TimesNewRomanPSMT";
	color: #000000;
}
.stl_20 {
	font-size: 0.833333em;
	font-family: "RFDHKS+TimesNewRomanPSMT";
	color: #000000;
}
@font-face {
	font-family:"RSVNMW+TimesNewRomanPS-ItalicMT";
	src:url("7e78fb86-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 0.583em;
	font-family: "RSVNMW+TimesNewRomanPS-ItalicMT";
	color: #000000;
}
.stl_22 {
	letter-spacing: -0.0912em;
}

.stl_ie .stl_22 {
	letter-spacing: -1.2154px;
}
.stl_23 {
	font-size: 0.833333em;
	font-family: "QUVRKC+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_24 {
	font-size: 0.833333em;
	font-family: "JVPVNP+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_25 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_25 {
	letter-spacing: -0.0009px;
}
.stl_26 {
	font-size: 0.833333em;
	font-family: "FBJNQL+TimesNewRomanPSMT";
	color: #000000;
}
.stl_27 {
	font-size: 0.666667em;
	font-family: "RFDHKS+TimesNewRomanPSMT";
	color: #000000;
}
.stl_28 {
	letter-spacing: -0.0029em;
}

.stl_ie .stl_28 {
	letter-spacing: -0.0311px;
}
.stl_29 {
	font-size: 0.7em;
	font-family: "QUVRKC+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_30 {
	font-size: 0.7em;
	font-family: "RFDHKS+TimesNewRomanPSMT";
	color: #000000;
}
.stl_31 {
	letter-spacing: -0.013em;
}

.stl_ie .stl_31 {
	letter-spacing: -0.2073px;
}
.stl_32 {
	font-size: 0.6996em;
	font-family: "QUVRKC+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_33 {
	font-size: 0.7em;
	font-family: "JVPVNP+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_34 {
	font-size: 0.7em;
	font-family: "FBJNQL+TimesNewRomanPSMT";
	color: #000000;
}
.stl_35 {
	-o-transform: scale(1,0.9903049);
	-webkit-transform: scale(1,0.9903049);
	-moz-transform: scale(1,0.9903049);
	transform: scale(1,0.9903049);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.9903049,0,-0);
	-ms-transform-origin: top left;
}
@font-face {
	font-family:"HKFIAM+MyriadPro-Bold";
	src:url("877f0f44-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_36 {
	font-size: 0.562243em;
	font-family: "HKFIAM+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_37 {
	line-height: 0.711em;
}
.stl_38 {
	letter-spacing: -0.0007em;
}

.stl_ie .stl_38 {
	letter-spacing: -0.0074px;
}
.stl_39 {
	letter-spacing: -0.0045em;
}

.stl_ie .stl_39 {
	letter-spacing: -0.0607px;
}
.stl_40 {
	letter-spacing: -0.0064em;
}

.stl_ie .stl_40 {
	letter-spacing: -0.0858px;
}
@font-face {
	font-family:"HRNKVD+Arial-BoldMT";
	src:url("ef2af04c-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_41 {
	font-size: 0.916667em;
	font-family: "HRNKVD+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_42 {
	font-size: 0.5em;
	font-family: "NNQTOG+MinionPro-Regular";
	color: #000000;
}
