.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"MQEDGC+TimesNewRomanPS-BoldMT";
	src:url("8ef4819f-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.833333em;
	font-family: "MQEDGC+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"VGKLPN+TimesNewRomanPSMT";
	src:url("5302e772-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.75em;
	font-family: "VGKLPN+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0018px;
}
@font-face {
	font-family:"RJWGWV+MinionPro-Regular";
	src:url("762a3942-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "RJWGWV+MinionPro-Regular";
	color: #000000;
}
.stl_15 {
	line-height: 1.007em;
}
.stl_16 {
	font-size: 1em;
	font-family: "VGKLPN+TimesNewRomanPSMT";
	color: #000000;
}
.stl_17 {
	font-size: 1em;
	font-family: "MQEDGC+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_18 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_18 {
	letter-spacing: -0.0009px;
}
@font-face {
	font-family:"HLVGSV+TimesNewRomanPS-BoldMT";
	src:url("c69f3306-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.833333em;
	font-family: "HLVGSV+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_20 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_20 {
	letter-spacing: 0.0008px;
}
@font-face {
	font-family:"UJEORD+TimesNewRomanPSMT";
	src:url("fada8053-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 0.75em;
	font-family: "UJEORD+TimesNewRomanPSMT";
	color: #000000;
}
.stl_22 {
	letter-spacing: -0.0069em;
}

.stl_ie .stl_22 {
	letter-spacing: -0.0823px;
}
@font-face {
	font-family:"FGEFHM+TimesNewRomanPS-ItalicMT";
	src:url("058e9282-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_23 {
	font-size: 0.5247em;
	font-family: "FGEFHM+TimesNewRomanPS-ItalicMT", "Times New Roman";
	color: #000000;
}
.stl_24 {
	letter-spacing: -0.0021em;
}

.stl_ie .stl_24 {
	letter-spacing: -0.0148px;
}
.stl_25 {
	font-size: 0.708333em;
	font-family: "MQEDGC+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_26 {
	font-size: 0.708333em;
	font-family: "VGKLPN+TimesNewRomanPSMT";
	color: #000000;
}
.stl_27 {
	font-size: 1em;
	font-family: "HLVGSV+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_28 {
	font-size: 0.708333em;
	font-family: "HLVGSV+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_29 {
	letter-spacing: -0.0009em;
}

.stl_ie .stl_29 {
	letter-spacing: -0.0098px;
}
.stl_30 {
	letter-spacing: -0.0205em;
}

.stl_ie .stl_30 {
	letter-spacing: -0.232px;
}
.stl_31 {
	letter-spacing: -0.0006em;
}

.stl_ie .stl_31 {
	letter-spacing: -0.0071px;
}
.stl_32 {
	letter-spacing: -0.0023em;
}

.stl_ie .stl_32 {
	letter-spacing: -0.0261px;
}
.stl_33 {
	letter-spacing: -0.1102em;
}

.stl_ie .stl_33 {
	letter-spacing: -1.322px;
}
.stl_34 {
	letter-spacing: 0.0002em;
}

.stl_ie .stl_34 {
	letter-spacing: 0.0019px;
}
.stl_35 {
	letter-spacing: -0.0912em;
}

.stl_ie .stl_35 {
	letter-spacing: -1.0938px;
}
.stl_36 {
	font-size: 0.708333em;
	font-family: "UJEORD+TimesNewRomanPSMT";
	color: #000000;
}
.stl_37 {
	letter-spacing: -0.0079em;
}

.stl_ie .stl_37 {
	letter-spacing: -0.0894px;
}
.stl_38 {
	letter-spacing: -0.004em;
}

.stl_ie .stl_38 {
	letter-spacing: -0.0474px;
}
@font-face {
	font-family:"JSJQEG+Arial-BoldMT";
	src:url("03dc9faf-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_39 {
	font-size: 0.916667em;
	font-family: "JSJQEG+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_40 {
	font-size: 0.5em;
	font-family: "RJWGWV+MinionPro-Regular";
	color: #000000;
}
