.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"KWFMGT+TimesNewRomanPS-BoldMT";
	src:url("e74a5e7e-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.791667em;
	font-family: "KWFMGT+TimesNewRomanPS-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"HQVALE+TimesNewRomanPSMT";
	src:url("d484c2cf-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.791667em;
	font-family: "HQVALE+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0019px;
}
@font-face {
	font-family:"KMAUWM+MinionPro-Regular";
	src:url("56961087-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "KMAUWM+MinionPro-Regular";
	color: #000000;
}
.stl_15 {
	line-height: 1.007em;
}
@font-face {
	font-family:"EFMSEO+TimesNewRomanPS-BoldMT";
	src:url("997089cd-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 1em;
	font-family: "EFMSEO+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_17 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_17 {
	letter-spacing: 0.0013px;
}
.stl_18 {
	font-size: 0.791667em;
	font-family: "EFMSEO+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_19 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_19 {
	letter-spacing: -0.001px;
}
.stl_20 {
	letter-spacing: -0.0013em;
}

.stl_ie .stl_20 {
	letter-spacing: -0.0162px;
}
.stl_21 {
	font-size: 0.75em;
	font-family: "HQVALE+TimesNewRomanPSMT";
	color: #000000;
}
@font-face {
	font-family:"KBUONF+TimesNewRomanPS-ItalicMT";
	src:url("c207cac0-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_22 {
	font-size: 0.5247em;
	font-family: "KBUONF+TimesNewRomanPS-ItalicMT";
	color: #000000;
}
.stl_23 {
	font-size: 0.833333em;
	font-family: "HQVALE+TimesNewRomanPSMT";
	color: #000000;
}
.stl_24 {
	font-size: 0.708333em;
	font-family: "KWFMGT+TimesNewRomanPS-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_25 {
	font-size: 0.708333em;
	font-family: "HQVALE+TimesNewRomanPSMT";
	color: #000000;
}
.stl_26 {
	font-size: 0.708333em;
	font-family: "EFMSEO+TimesNewRomanPS-BoldMT";
	color: #000000;
}
@font-face {
	font-family:"LIOKEC+TimesNewRomanPSMT";
	src:url("528e10d9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 0.708333em;
	font-family: "LIOKEC+TimesNewRomanPSMT";
	color: #000000;
}
.stl_28 {
	font-size: 0.666667em;
	font-family: "HQVALE+TimesNewRomanPSMT";
	color: #000000;
}
.stl_29 {
	letter-spacing: -0.0039em;
}

.stl_ie .stl_29 {
	letter-spacing: -0.0416px;
}
.stl_30 {
	letter-spacing: -0.1272em;
}

.stl_ie .stl_30 {
	letter-spacing: -1.3564px;
}
.stl_31 {
	letter-spacing: -0.1282em;
}

.stl_ie .stl_31 {
	letter-spacing: -1.3671px;
}
.stl_32 {
	letter-spacing: 0.1408em;
}

.stl_ie .stl_32 {
	letter-spacing: 1.5022px;
}
.stl_33 {
	font-size: 0.4664em;
	font-family: "KBUONF+TimesNewRomanPS-ItalicMT";
	color: #000000;
}
.stl_34 {
	letter-spacing: -0.0912em;
}

.stl_ie .stl_34 {
	letter-spacing: -0.9723px;
}
.stl_35 {
	letter-spacing: -0.1102em;
}

.stl_ie .stl_35 {
	letter-spacing: -1.2486px;
}
.stl_36 {
	letter-spacing: 0.0002em;
}

.stl_ie .stl_36 {
	letter-spacing: 0.0017px;
}
.stl_37 {
	font-size: 0.75em;
	font-family: "KWFMGT+TimesNewRomanPS-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_38 {
	letter-spacing: -0.0011em;
}

.stl_ie .stl_38 {
	letter-spacing: -0.0176px;
}
.stl_39 {
	font-size: 0.75em;
	font-family: "EFMSEO+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_40 {
	letter-spacing: -0.0109em;
}

.stl_ie .stl_40 {
	letter-spacing: -0.1309px;
}
.stl_41 {
	letter-spacing: -0.0135em;
}

.stl_ie .stl_41 {
	letter-spacing: -0.1794px;
}
.stl_42 {
	font-size: 0.583em;
	font-family: "KBUONF+TimesNewRomanPS-ItalicMT";
	color: #000000;
}
.stl_43 {
	letter-spacing: -0.0018em;
}

.stl_ie .stl_43 {
	letter-spacing: -0.0238px;
}
@font-face {
	font-family:"IUPEVC+Arial-BoldMT";
	src:url("8095b793-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_44 {
	font-size: 0.916667em;
	font-family: "IUPEVC+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_45 {
	font-size: 0.5em;
	font-family: "KMAUWM+MinionPro-Regular";
	color: #000000;
}
