.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"LDMDGP+TimesNewRomanPS-BoldMT";
	src:url("c1a404a6-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.708333em;
	font-family: "LDMDGP+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"LKDPMT+TimesNewRomanPSMT";
	src:url("438e3ad4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.708333em;
	font-family: "LKDPMT+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0017px;
}
@font-face {
	font-family:"WWJWKB+TimesNewRomanPS-BoldMT";
	src:url("276fbf1a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "WWJWKB+TimesNewRomanPS-BoldMT";
	color: #686868;
}
@font-face {
	font-family:"PBGJNC+MinionPro-Regular";
	src:url("81b3bd65-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 1em;
	font-family: "PBGJNC+MinionPro-Regular";
	color: #000000;
}
.stl_16 {
	line-height: 1.007em;
}
.stl_17 {
	font-size: 0.708333em;
	font-family: "WWJWKB+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_18 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_18 {
	letter-spacing: -0.0009px;
}
.stl_19 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_19 {
	letter-spacing: 0.0007px;
}
.stl_20 {
	letter-spacing: -0.0013em;
}

.stl_ie .stl_20 {
	letter-spacing: -0.0145px;
}
.stl_21 {
	font-size: 0.75em;
	font-family: "LKDPMT+TimesNewRomanPSMT";
	color: #000000;
}
.stl_22 {
	letter-spacing: -0.0028em;
}

.stl_ie .stl_22 {
	letter-spacing: -0.0335px;
}
.stl_23 {
	letter-spacing: -0.0012em;
}

.stl_ie .stl_23 {
	letter-spacing: -0.0145px;
}
.stl_24 {
	font-size: 0.7em;
	font-family: "LDMDGP+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_25 {
	font-size: 0.7em;
	font-family: "LKDPMT+TimesNewRomanPSMT";
	color: #000000;
}
.stl_26 {
	font-size: 0.7em;
	font-family: "WWJWKB+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_27 {
	font-size: 0.833333em;
	font-family: "LKDPMT+TimesNewRomanPSMT";
	color: #000000;
}
.stl_28 {
	font-size: 0.75em;
	font-family: "LDMDGP+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_29 {
	font-size: 0.75em;
	font-family: "WWJWKB+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_30 {
	letter-spacing: -0.0065em;
}

.stl_ie .stl_30 {
	letter-spacing: -0.0786px;
}
@font-face {
	font-family:"GHNNAI+Arial-BoldMT";
	src:url("22d88bb8-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_31 {
	font-size: 0.916667em;
	font-family: "GHNNAI+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_32 {
	font-size: 0.5em;
	font-family: "PBGJNC+MinionPro-Regular";
	color: #000000;
}
