.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 54.5em;
	height: 69.5em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 54.5em;
}
.stl_06 {
	height: 6.95em;
}
.stl_ie .stl_06 {
	height: 69.5em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"JOWWFQ+TimesNewRomanPS-BoldMT";
	src:url("a01ca16e-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.833333em;
	font-family: "JOWWFQ+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"GFUQJS+TimesNewRomanPSMT";
	src:url("5b78e766-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.833333em;
	font-family: "GFUQJS+TimesNewRomanPSMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.002px;
}
@font-face {
	font-family:"UMKJHL+TimesNewRomanPS-BoldMT";
	src:url("d96c3243-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 0.833333em;
	font-family: "UMKJHL+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_15 {
	letter-spacing: -0.1102em;
}

.stl_ie .stl_15 {
	letter-spacing: -1.4687px;
}
.stl_16 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_16 {
	letter-spacing: 0.0008px;
}
.stl_17 {
	font-size: 1em;
	font-family: "JOWWFQ+TimesNewRomanPS-BoldMT";
	color: #686868;
}
@font-face {
	font-family:"DQBHJC+MinionPro-Regular";
	src:url("b2331c27-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 1em;
	font-family: "DQBHJC+MinionPro-Regular";
	color: #000000;
}
.stl_19 {
	line-height: 1.007em;
}
.stl_20 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_20 {
	letter-spacing: -0.0011px;
}
.stl_21 {
	font-size: 0.75em;
	font-family: "JOWWFQ+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_22 {
	font-size: 0.75em;
	font-family: "GFUQJS+TimesNewRomanPSMT";
	color: #000000;
}
.stl_23 {
	font-size: 1em;
	font-family: "UMKJHL+TimesNewRomanPS-BoldMT";
	color: #686868;
}
.stl_24 {
	letter-spacing: -0.0028em;
}

.stl_ie .stl_24 {
	letter-spacing: -0.0449px;
}
.stl_25 {
	font-size: 0.75em;
	font-family: "UMKJHL+TimesNewRomanPS-BoldMT";
	color: #000000;
}
@font-face {
	font-family:"LNDJLO+MyriadPro-Bold";
	src:url("d475cccb-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_26 {
	font-size: 0.635075em;
	font-family: "LNDJLO+MyriadPro-Bold", "Times New Roman";
	color: #000000;
}
.stl_27 {
	line-height: 0.711em;
}
.stl_28 {
	letter-spacing: -0.0013em;
}

.stl_ie .stl_28 {
	letter-spacing: -0.0153px;
}
.stl_29 {
	letter-spacing: 0.0002em;
}

.stl_ie .stl_29 {
	letter-spacing: 0.002px;
}
.stl_30 {
	letter-spacing: -0.0027em;
}

.stl_ie .stl_30 {
	letter-spacing: -0.0356px;
}
@font-face {
	font-family:"FWRGWQ+TimesNewRomanPS-ItalicMT";
	src:url("7d5e3629-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_31 {
	font-size: 0.583em;
	font-family: "FWRGWQ+TimesNewRomanPS-ItalicMT", "Times New Roman";
	color: #000000;
}
.stl_32 {
	font-size: 0.708333em;
	font-family: "JOWWFQ+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_33 {
	font-size: 0.708333em;
	font-family: "GFUQJS+TimesNewRomanPSMT";
	color: #000000;
}
.stl_34 {
	font-size: 0.708333em;
	font-family: "UMKJHL+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_35 {
	letter-spacing: -0.0059em;
}

.stl_ie .stl_35 {
	letter-spacing: -0.0671px;
}
.stl_36 {
	letter-spacing: -0.0053em;
}

.stl_ie .stl_36 {
	letter-spacing: -0.0412px;
}
.stl_37 {
	letter-spacing: -0.0045em;
}

.stl_ie .stl_37 {
	letter-spacing: -0.0348px;
}
@font-face {
	font-family:"USFNNH+Arial-BoldMT";
	src:url("fd664741-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_38 {
	font-size: 0.916667em;
	font-family: "USFNNH+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_39 {
	font-size: 0.5em;
	font-family: "DQBHJC+MinionPro-Regular";
	color: #000000;
}
